In [1]:
import pandas as pd

In [5]:
df = pd.read_csv("data_files/malaria_data.csv")
df_pivoted = df

In [6]:
df.head(100)

,Year,Argentina,Belize,Bolivia,Brazil,Colombia,Costa Rica,Dominican Republic,Ecuador,El Salvador,...,Guyana,Haiti,Honduras,Mexico,Nicaragua,Panama,Paraguay,Peru,Suriname,Venezuela
0,2000,440.0,1486.0,31469.0,613241.0,144432.0,1879.0,1233.0,104528.0,753.0,...,24018.0,16897.0,35125.0,7390.0,23878.0,1036.0,6853.0,68321.0,11361.0,29736.0
1,2001,215.0,1162.0,15765.0,388303.0,231233.0,1363.0,1038.0,108903.0,362.0,...,27122.0,9837.0,24149.0,4996.0,10482.0,928.0,2710.0,78544.0,16003.0,20006.0
2,2002,125.0,1134.0,14276.0,348259.0,204916.0,1021.0,1296.0,86757.0,117.0,...,21895.0,9837.0,17223.0,4624.0,7695.0,2244.0,2778.0,99237.0,12837.0,29491.0
3,2003,124.0,1084.0,20343.0,408886.0,180956.0,718.0,1529.0,52065.0,85.0,...,27627.0,9837.0,14123.0,3819.0,6717.0,4500.0,1392.0,88408.0,10982.0,31719.0
4,2004,116.0,1066.0,14910.0,465004.0,142241.0,1289.0,2355.0,28730.0,112.0,...,28866.0,10802.0,17293.0,3406.0,6897.0,5095.0,694.0,93581.0,8378.0,46655.0
5,2005,252.0,1549.0,21442.0,606067.0,121629.0,3541.0,3837.0,17050.0,67.0,...,38984.0,21778.0,16007.0,2967.0,6642.0,3667.0,373.0,87699.0,9131.0,45049.0
6,2006,212.0,844.0,19725.0,549469.0,120096.0,2903.0,3525.0,9863.0,49.0,...,21064.0,32739.0,11923.0,2514.0,3114.0,1663.0,823.0,64925.0,3289.0,37062.0
7,2007,355.0,845.0,14610.0,458652.0,128462.0,1223.0,2711.0,8194.0,40.0,...,11656.0,29825.0,10513.0,2361.0,1356.0,1281.0,1341.0,50797.0,2797.0,41749.0
8,2008,106.0,540.0,9748.0,315746.0,80559.0,966.0,3680.0,4891.0,33.0,...,11815.0,36774.0,8368.0,2357.0,762.0,744.0,348.0,83354.0,4203.0,32037.0
9,2009,136.0,512.0,19486.0,309316.0,158694.0,524.0,3286.0,4126.0,40.0,...,13673.0,49535.0,18634.0,5406.0,610.0,1556.0,182.0,79667.0,4879.0,71656.0
10,2010,72.0,300.0,27538.0,669335.0,235300.0,228.0,5896.0,3776.0,48.0,...,45870.0,84153.0,19427.0,2459.0,1384.0,836.0,54.0,63091.0,3483.0,90310.0
11,2011,36.0,158.0,14286.0,534292.0,128745.0,34.0,3232.0,2464.0,31.0,...,58942.0,68700.0,15260.0,2254.0,1850.0,708.0,20.0,50044.0,1566.0,91648.0
12,2012,8.0,74.0,14830.0,485516.0,120358.0,16.0,1904.0,1116.0,42.0,...,63202.0,55732.0,12902.0,1675.0,2470.0,1688.0,30.0,63006.0,1123.0,105606.0
13,2013,8.0,52.0,15754.0,356313.0,103418.0,12.0,1158.0,756.0,14.0,...,62958.0,41914.0,10856.0,998.0,2390.0,1410.0,22.0,86607.0,1458.0,157286.0
14,2014,8.0,38.0,14802.0,286830.0,81536.0,12.0,992.0,484.0,16.0,...,24706.0,35392.0,6862.0,1328.0,2326.0,1748.0,16.0,114040.0,802.0,181416.0
15,2015,2.0,26.0,13814.0,286211.0,107460.0,16.0,1322.0,1372.0,18.0,...,19968.0,35166.0,7150.0,1102.0,4614.0,1124.0,16.0,133218.0,752.0,272804.0
16,2016,2.0,10.0,11106.0,258501.0,146397.0,26.0,1510.0,2848.0,28.0,...,23475.0,43428.0,8435.0,1192.0,12568.0,1622.0,21.0,113246.0,654.0,481226.0
17,2017,33.0,18.0,9174.0,388740.0,97507.0,50.0,796.0,2879.0,8.0,...,27872.0,37978.0,2574.0,1530.0,21898.0,1378.0,10.0,113059.0,1102.0,829054.0
18,Total,2250.0,10898.0,303078.0,7728681.0,2533939.0,16821.0,41300.0,440802.0,1863.0,...,553713.0,610650.0,256824.0,52378.0,117653.0,33228.0,17683.0,1530844.0,94800.0,2594510.0

In [ ]:
df_filled_na = df.fillna(method='ffill',axis=0)

In [ ]:
df_filled_na

In [ ]:
df_dropped_columns = df_filled_na.drop(columns=['<5 Conﬁr..', '<5 Deaths', '<5 year H..', 'Deaths', 'GTS Target', 'Hospitalisation', 'MDG Target'])

In [ ]:
list(df_dropped_columns)

In [ ]:
df_renamed = df_dropped_columns.rename(columns={'Conﬁrmed Cases':'Confirmed Cases'})

In [ ]:
df_renamed

In [ ]:
df_renamed.drop(df_renamed.tail(1).index,inplace=True)

In [ ]:
df_renamed['Confirmed Cases'] = df_renamed['Confirmed Cases'].apply(lambda x:str(x.replace(',','')))

In [ ]:
df_renamed['Confirmed Cases'] = pd.to_numeric(df_renamed['Confirmed Cases'])

In [ ]:
df_pivoted = df_renamed.pivot_table(values="Confirmed Cases",index="Year",columns="Country")

In [ ]:
df_pivoted

In [ ]:
df_pivoted.drop(df_pivoted.tail(2).index, inplace=True)

In [ ]:
df_pivoted

In [ ]:
df_pivoted.drop(columns='French Guiana', inplace=True)

In [ ]:
df_pivoted.to_csv("data_files/malaria_data.csv")

In [7]:
df_pivoted

,Year,Argentina,Belize,Bolivia,Brazil,Colombia,Costa Rica,Dominican Republic,Ecuador,El Salvador,...,Guyana,Haiti,Honduras,Mexico,Nicaragua,Panama,Paraguay,Peru,Suriname,Venezuela
0,2000,440.0,1486.0,31469.0,613241.0,144432.0,1879.0,1233.0,104528.0,753.0,...,24018.0,16897.0,35125.0,7390.0,23878.0,1036.0,6853.0,68321.0,11361.0,29736.0
1,2001,215.0,1162.0,15765.0,388303.0,231233.0,1363.0,1038.0,108903.0,362.0,...,27122.0,9837.0,24149.0,4996.0,10482.0,928.0,2710.0,78544.0,16003.0,20006.0
2,2002,125.0,1134.0,14276.0,348259.0,204916.0,1021.0,1296.0,86757.0,117.0,...,21895.0,9837.0,17223.0,4624.0,7695.0,2244.0,2778.0,99237.0,12837.0,29491.0
3,2003,124.0,1084.0,20343.0,408886.0,180956.0,718.0,1529.0,52065.0,85.0,...,27627.0,9837.0,14123.0,3819.0,6717.0,4500.0,1392.0,88408.0,10982.0,31719.0
4,2004,116.0,1066.0,14910.0,465004.0,142241.0,1289.0,2355.0,28730.0,112.0,...,28866.0,10802.0,17293.0,3406.0,6897.0,5095.0,694.0,93581.0,8378.0,46655.0
5,2005,252.0,1549.0,21442.0,606067.0,121629.0,3541.0,3837.0,17050.0,67.0,...,38984.0,21778.0,16007.0,2967.0,6642.0,3667.0,373.0,87699.0,9131.0,45049.0
6,2006,212.0,844.0,19725.0,549469.0,120096.0,2903.0,3525.0,9863.0,49.0,...,21064.0,32739.0,11923.0,2514.0,3114.0,1663.0,823.0,64925.0,3289.0,37062.0
7,2007,355.0,845.0,14610.0,458652.0,128462.0,1223.0,2711.0,8194.0,40.0,...,11656.0,29825.0,10513.0,2361.0,1356.0,1281.0,1341.0,50797.0,2797.0,41749.0
8,2008,106.0,540.0,9748.0,315746.0,80559.0,966.0,3680.0,4891.0,33.0,...,11815.0,36774.0,8368.0,2357.0,762.0,744.0,348.0,83354.0,4203.0,32037.0
9,2009,136.0,512.0,19486.0,309316.0,158694.0,524.0,3286.0,4126.0,40.0,...,13673.0,49535.0,18634.0,5406.0,610.0,1556.0,182.0,79667.0,4879.0,71656.0
10,2010,72.0,300.0,27538.0,669335.0,235300.0,228.0,5896.0,3776.0,48.0,...,45870.0,84153.0,19427.0,2459.0,1384.0,836.0,54.0,63091.0,3483.0,90310.0
11,2011,36.0,158.0,14286.0,534292.0,128745.0,34.0,3232.0,2464.0,31.0,...,58942.0,68700.0,15260.0,2254.0,1850.0,708.0,20.0,50044.0,1566.0,91648.0
12,2012,8.0,74.0,14830.0,485516.0,120358.0,16.0,1904.0,1116.0,42.0,...,63202.0,55732.0,12902.0,1675.0,2470.0,1688.0,30.0,63006.0,1123.0,105606.0
13,2013,8.0,52.0,15754.0,356313.0,103418.0,12.0,1158.0,756.0,14.0,...,62958.0,41914.0,10856.0,998.0,2390.0,1410.0,22.0,86607.0,1458.0,157286.0
14,2014,8.0,38.0,14802.0,286830.0,81536.0,12.0,992.0,484.0,16.0,...,24706.0,35392.0,6862.0,1328.0,2326.0,1748.0,16.0,114040.0,802.0,181416.0
15,2015,2.0,26.0,13814.0,286211.0,107460.0,16.0,1322.0,1372.0,18.0,...,19968.0,35166.0,7150.0,1102.0,4614.0,1124.0,16.0,133218.0,752.0,272804.0
16,2016,2.0,10.0,11106.0,258501.0,146397.0,26.0,1510.0,2848.0,28.0,...,23475.0,43428.0,8435.0,1192.0,12568.0,1622.0,21.0,113246.0,654.0,481226.0
17,2017,33.0,18.0,9174.0,388740.0,97507.0,50.0,796.0,2879.0,8.0,...,27872.0,37978.0,2574.0,1530.0,21898.0,1378.0,10.0,113059.0,1102.0,829054.0
18,Total,2250.0,10898.0,303078.0,7728681.0,2533939.0,16821.0,41300.0,440802.0,1863.0,...,553713.0,610650.0,256824.0,52378.0,117653.0,33228.0,17683.0,1530844.0,94800.0,2594510.0

In [8]:
obj_pop = {
    'Argentina':
    [
        37057452, 37471509, 37889370, 38309379,
        38728696, 39145488, 39558890, 39970224,
        40382389, 40799407, 41223889, 41656879,
        42096739, 42539925, 42981515, 43417765,
        43847430
    ],
    'Belize': 
    [
        247315, 254984, 262206, 269130,
        276089, 283277, 290747, 298407,
        306165, 313929, 321608, 329192,
        336701, 344181, 351694, 359288,
        366954
    ],
    'Bolivia': 
    [
        8339512, 8496375, 8653345, 8810420,
        8967741, 9125409, 9283334, 9441444,
        9599855, 9758748, 9918242, 10078343,
        10239004, 10400264, 10562159, 10724705,
        10887882
    ],
    'Brazil': 
    [
        175287587, 177750670, 180151021, 182482149,
        184738458, 186917361, 189012412, 191026637,
        192979029, 194895996, 196796269, 198686688,
        200560983, 202408632, 204213133, 205962108,
        207652865
    ],
    'Colombia': 
    [
        40403958, 40988909, 41572491, 42152151,
        42724163, 43285634, 43835722, 44374572,
        44901544, 45416181, 45918097, 46406646,
        46881475, 47342981, 47791911, 48228697,
        48653419
    ],
    'Costa Rica': 
    [
        3925443, 3996798, 4063204, 4125971, 
        4187038, 4247841, 4308794, 4369469,
        4429508, 4488263, 4545280, 4600474,
        4654122, 4706401, 4757575, 4807852,
        4857274
    ],
    'Dominican Republic': 
    [
        8562622, 8697126, 8832285, 8967760,
        9102998, 9237566, 9371338, 9504353,
        9636520, 9767758, 9897985, 10027095,
        10154950, 10281296, 10405844, 10528394,
        10648791
    ],
    'Ecuador': 
    [
        12628596, 12852755, 13072060, 13289601,
        13509647, 13735233, 13967480, 14205453,
        14447562, 14691275, 14934690, 15177355,
        15419666, 15661547, 15903112, 16144368,
        16385068
    ],
    'El Salvador': 
    [
        5867626, 5905962, 5940303, 5971535,
        6000775, 6028961, 6056478, 6083475,
        6110301, 6137276, 6164626, 6192560,
        6221246, 6250777, 6281189, 6312478,
        6344722
    ],
    'Guatemala': 
    [
        11650743, 11924946, 12208848, 12500478,
        12796925, 13096028, 13397008, 13700286,
        14006366, 14316208, 14630417, 14948919,
        15271056, 15596214, 15923559, 16252429,
        16582469
    ],
    'Guyana': 
    [
        753301, 752263, 751884, 751857,
        751652, 750946, 749601, 747869,
        746314, 745693, 746556, 749100,
        753091, 758081, 763393, 768514,
        773303
    ],
    'Haiti': 
    [
        8549200, 8692567, 8834733, 8976552,
        9119178, 9263404, 9409457, 9556889, 
        9705029, 9852870, 9999617, 10145054,
        10289210, 10431776, 10572466, 10711061,
        10847334
    ],
    'Honduras': 
    [
        6524283, 6693061, 6863157, 7033821,
        7204153, 7373430, 7541406, 7707972,
        7872658, 8035021, 8194778, 8351600, 
        8505646, 8657785, 8809216, 8960829,
        9112867
    ],
    'Mexico': 
    [
        101719673, 103067068, 104355608, 105640453, 
        106995583, 108472228, 110092378, 111836346, 
        113661809, 115505228, 117318941, 119090017,
        120828307, 122535969, 124221600, 125890949,
        127540423
    ],
    'Nicaragua': 
    [
        5026796, 5100750, 5171734, 5240879,
        5309703, 5379328, 5450211, 5522106, 
        5594506, 5666581, 5737723, 5807820, 
        5877108, 5945747, 6013997, 6082035,
        6149928
        
    ],
    'Panama': 
    [
        3030347, 3089684, 3149265, 3209174, 
        3269541, 3330465, 3391905, 3453807,
        3516268, 3579385, 3643222, 3707782, 
        3772938, 3838462, 3903986, 3969249,
        4034119
    ],
    'Paraguay': 
    [
        5302700, 5406624, 5508611, 5607950, 
        5703740, 5795494, 5882796, 5966159,
        6047117, 6127837, 6209877, 6293783,
        6379219, 6465740, 6552584, 6639119,
        6725308
    ],
    'Peru': 
    [
        25914879, 26261363, 26601467, 26937738,
        27273194, 27610410, 27949944, 28292724, 
        28641980, 29001507, 29373646, 29759989, 
        30158966, 30565716, 30973354, 31376671,
        31773839
    ],
    'Suriname': 
    [
        472390, 477740, 483044, 488332,
        493630, 498946, 504307, 509705,
        515148, 520619, 526103, 531589,
        537077, 542540, 547928, 553208,
        558368
    ],
    'Venezuela':  
    [
        24488340, 24948476, 25408700, 25868523,
        26327225, 26784161, 27239168, 27691965,
        28141701, 28587323, 29028033, 29463291, 
        29893080, 30317848, 30738378, 31155134,
        31568179
    ]
}

In [9]:
index=[2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016]

In [15]:
df_pop = pd.DataFrame(obj_pop, index=index)
df_pop

,Argentina,Belize,Bolivia,Brazil,Colombia,Costa Rica,Dominican Republic,Ecuador,El Salvador,Guatemala,Guyana,Haiti,Honduras,Mexico,Nicaragua,Panama,Paraguay,Peru,Suriname,Venezuela
2000,37057452,247315,8339512,175287587,40403958,3925443,8562622,12628596,5867626,11650743,753301,8549200,6524283,101719673,5026796,3030347,5302700,25914879,472390,24488340
2001,37471509,254984,8496375,177750670,40988909,3996798,8697126,12852755,5905962,11924946,752263,8692567,6693061,103067068,5100750,3089684,5406624,26261363,477740,24948476
2002,37889370,262206,8653345,180151021,41572491,4063204,8832285,13072060,5940303,12208848,751884,8834733,6863157,104355608,5171734,3149265,5508611,26601467,483044,25408700
2003,38309379,269130,8810420,182482149,42152151,4125971,8967760,13289601,5971535,12500478,751857,8976552,7033821,105640453,5240879,3209174,5607950,26937738,488332,25868523
2004,38728696,276089,8967741,184738458,42724163,4187038,9102998,13509647,6000775,12796925,751652,9119178,7204153,106995583,5309703,3269541,5703740,27273194,493630,26327225
2005,39145488,283277,9125409,186917361,43285634,4247841,9237566,13735233,6028961,13096028,750946,9263404,7373430,108472228,5379328,3330465,5795494,27610410,498946,26784161
2006,39558890,290747,9283334,189012412,43835722,4308794,9371338,13967480,6056478,13397008,749601,9409457,7541406,110092378,5450211,3391905,5882796,27949944,504307,27239168
2007,39970224,298407,9441444,191026637,44374572,4369469,9504353,14205453,6083475,13700286,747869,9556889,7707972,111836346,5522106,3453807,5966159,28292724,509705,27691965
2008,40382389,306165,9599855,192979029,44901544,4429508,9636520,14447562,6110301,14006366,746314,9705029,7872658,113661809,5594506,3516268,6047117,28641980,515148,28141701
2009,40799407,313929,9758748,194895996,45416181,4488263,9767758,14691275,6137276,14316208,745693,9852870,8035021,115505228,5666581,3579385,6127837,29001507,520619,28587323
2010,41223889,321608,9918242,196796269,45918097,4545280,9897985,14934690,6164626,14630417,746556,9999617,8194778,117318941,5737723,3643222,6209877,29373646,526103,29028033
2011,41656879,329192,10078343,198686688,46406646,4600474,10027095,15177355,6192560,14948919,749100,10145054,8351600,119090017,5807820,3707782,6293783,29759989,531589,29463291
2012,42096739,336701,10239004,200560983,46881475,4654122,10154950,15419666,6221246,15271056,753091,10289210,8505646,120828307,5877108,3772938,6379219,30158966,537077,29893080
2013,42539925,344181,10400264,202408632,47342981,4706401,10281296,15661547,6250777,15596214,758081,10431776,8657785,122535969,5945747,3838462,6465740,30565716,542540,30317848
2014,42981515,351694,10562159,204213133,47791911,4757575,10405844,15903112,6281189,15923559,763393,10572466,8809216,124221600,6013997,3903986,6552584,30973354,547928,30738378
2015,43417765,359288,10724705,205962108,48228697,4807852,10528394,16144368,6312478,16252429,768514,10711061,8960829,125890949,6082035,3969249,6639119,31376671,553208,31155134
2016,43847430,366954,10887882,207652865,48653419,4857274,10648791,16385068,6344722,16582469,773303,10847334,9112867,127540423,6149928,4034119,6725308,31773839,558368,31568179

In [16]:
df_pop.reset_index(inplace=True)

,index,Argentina,Belize,Bolivia,Brazil,Colombia,Costa Rica,Dominican Republic,Ecuador,El Salvador,...,Guyana,Haiti,Honduras,Mexico,Nicaragua,Panama,Paraguay,Peru,Suriname,Venezuela
0,2000,37057452,247315,8339512,175287587,40403958,3925443,8562622,12628596,5867626,...,753301,8549200,6524283,101719673,5026796,3030347,5302700,25914879,472390,24488340
1,2001,37471509,254984,8496375,177750670,40988909,3996798,8697126,12852755,5905962,...,752263,8692567,6693061,103067068,5100750,3089684,5406624,26261363,477740,24948476
2,2002,37889370,262206,8653345,180151021,41572491,4063204,8832285,13072060,5940303,...,751884,8834733,6863157,104355608,5171734,3149265,5508611,26601467,483044,25408700
3,2003,38309379,269130,8810420,182482149,42152151,4125971,8967760,13289601,5971535,...,751857,8976552,7033821,105640453,5240879,3209174,5607950,26937738,488332,25868523
4,2004,38728696,276089,8967741,184738458,42724163,4187038,9102998,13509647,6000775,...,751652,9119178,7204153,106995583,5309703,3269541,5703740,27273194,493630,26327225
5,2005,39145488,283277,9125409,186917361,43285634,4247841,9237566,13735233,6028961,...,750946,9263404,7373430,108472228,5379328,3330465,5795494,27610410,498946,26784161
6,2006,39558890,290747,9283334,189012412,43835722,4308794,9371338,13967480,6056478,...,749601,9409457,7541406,110092378,5450211,3391905,5882796,27949944,504307,27239168
7,2007,39970224,298407,9441444,191026637,44374572,4369469,9504353,14205453,6083475,...,747869,9556889,7707972,111836346,5522106,3453807,5966159,28292724,509705,27691965
8,2008,40382389,306165,9599855,192979029,44901544,4429508,9636520,14447562,6110301,...,746314,9705029,7872658,113661809,5594506,3516268,6047117,28641980,515148,28141701
9,2009,40799407,313929,9758748,194895996,45416181,4488263,9767758,14691275,6137276,...,745693,9852870,8035021,115505228,5666581,3579385,6127837,29001507,520619,28587323
10,2010,41223889,321608,9918242,196796269,45918097,4545280,9897985,14934690,6164626,...,746556,9999617,8194778,117318941,5737723,3643222,6209877,29373646,526103,29028033
11,2011,41656879,329192,10078343,198686688,46406646,4600474,10027095,15177355,6192560,...,749100,10145054,8351600,119090017,5807820,3707782,6293783,29759989,531589,29463291
12,2012,42096739,336701,10239004,200560983,46881475,4654122,10154950,15419666,6221246,...,753091,10289210,8505646,120828307,5877108,3772938,6379219,30158966,537077,29893080
13,2013,42539925,344181,10400264,202408632,47342981,4706401,10281296,15661547,6250777,...,758081,10431776,8657785,122535969,5945747,3838462,6465740,30565716,542540,30317848
14,2014,42981515,351694,10562159,204213133,47791911,4757575,10405844,15903112,6281189,...,763393,10572466,8809216,124221600,6013997,3903986,6552584,30973354,547928,30738378
15,2015,43417765,359288,10724705,205962108,48228697,4807852,10528394,16144368,6312478,...,768514,10711061,8960829,125890949,6082035,3969249,6639119,31376671,553208,31155134
16,2016,43847430,366954,10887882,207652865,48653419,4857274,10648791,16385068,6344722,...,773303,10847334,9112867,127540423,6149928,4034119,6725308,31773839,558368,31568179

In [17]:
df_pop.rename(columns={'index':'Year'}, inplace=True)
df_pop

,Year,Argentina,Belize,Bolivia,Brazil,Colombia,Costa Rica,Dominican Republic,Ecuador,El Salvador,...,Guyana,Haiti,Honduras,Mexico,Nicaragua,Panama,Paraguay,Peru,Suriname,Venezuela
0,2000,37057452,247315,8339512,175287587,40403958,3925443,8562622,12628596,5867626,...,753301,8549200,6524283,101719673,5026796,3030347,5302700,25914879,472390,24488340
1,2001,37471509,254984,8496375,177750670,40988909,3996798,8697126,12852755,5905962,...,752263,8692567,6693061,103067068,5100750,3089684,5406624,26261363,477740,24948476
2,2002,37889370,262206,8653345,180151021,41572491,4063204,8832285,13072060,5940303,...,751884,8834733,6863157,104355608,5171734,3149265,5508611,26601467,483044,25408700
3,2003,38309379,269130,8810420,182482149,42152151,4125971,8967760,13289601,5971535,...,751857,8976552,7033821,105640453,5240879,3209174,5607950,26937738,488332,25868523
4,2004,38728696,276089,8967741,184738458,42724163,4187038,9102998,13509647,6000775,...,751652,9119178,7204153,106995583,5309703,3269541,5703740,27273194,493630,26327225
5,2005,39145488,283277,9125409,186917361,43285634,4247841,9237566,13735233,6028961,...,750946,9263404,7373430,108472228,5379328,3330465,5795494,27610410,498946,26784161
6,2006,39558890,290747,9283334,189012412,43835722,4308794,9371338,13967480,6056478,...,749601,9409457,7541406,110092378,5450211,3391905,5882796,27949944,504307,27239168
7,2007,39970224,298407,9441444,191026637,44374572,4369469,9504353,14205453,6083475,...,747869,9556889,7707972,111836346,5522106,3453807,5966159,28292724,509705,27691965
8,2008,40382389,306165,9599855,192979029,44901544,4429508,9636520,14447562,6110301,...,746314,9705029,7872658,113661809,5594506,3516268,6047117,28641980,515148,28141701
9,2009,40799407,313929,9758748,194895996,45416181,4488263,9767758,14691275,6137276,...,745693,9852870,8035021,115505228,5666581,3579385,6127837,29001507,520619,28587323
10,2010,41223889,321608,9918242,196796269,45918097,4545280,9897985,14934690,6164626,...,746556,9999617,8194778,117318941,5737723,3643222,6209877,29373646,526103,29028033
11,2011,41656879,329192,10078343,198686688,46406646,4600474,10027095,15177355,6192560,...,749100,10145054,8351600,119090017,5807820,3707782,6293783,29759989,531589,29463291
12,2012,42096739,336701,10239004,200560983,46881475,4654122,10154950,15419666,6221246,...,753091,10289210,8505646,120828307,5877108,3772938,6379219,30158966,537077,29893080
13,2013,42539925,344181,10400264,202408632,47342981,4706401,10281296,15661547,6250777,...,758081,10431776,8657785,122535969,5945747,3838462,6465740,30565716,542540,30317848
14,2014,42981515,351694,10562159,204213133,47791911,4757575,10405844,15903112,6281189,...,763393,10572466,8809216,124221600,6013997,3903986,6552584,30973354,547928,30738378
15,2015,43417765,359288,10724705,205962108,48228697,4807852,10528394,16144368,6312478,...,768514,10711061,8960829,125890949,6082035,3969249,6639119,31376671,553208,31155134
16,2016,43847430,366954,10887882,207652865,48653419,4857274,10648791,16385068,6344722,...,773303,10847334,9112867,127540423,6149928,4034119,6725308,31773839,558368,31568179

In [25]:
df_pivoted.drop(df_pivoted.tail(2).index,inplace=True)

In [26]:
df_pivoted= df_pivoted.apply(pd.to_numeric)

In [28]:
df_pivoted.dtypes

Year                    int64
Argentina             float64
Belize                float64
Bolivia               float64
Brazil                float64
Colombia              float64
Costa Rica            float64
Dominican Republic    float64
Ecuador               float64
El Salvador           float64
French Guiana         float64
Guatemala             float64
Guyana                float64
Haiti                 float64
Honduras              float64
Mexico                float64
Nicaragua             float64
Panama                float64
Paraguay              float64
Peru                  float64
Suriname              float64
Venezuela             float64
dtype: object

In [33]:
df_malaria_growth = pd.merge(df_pivoted,df_pop, on='Year', suffixes=("_Incidence","_Population"))

In [34]:
df_malaria_growth

,Year,Argentina_Incidence,Belize_Incidence,Bolivia_Incidence,Brazil_Incidence,Colombia_Incidence,Costa Rica_Incidence,Dominican Republic_Incidence,Ecuador_Incidence,El Salvador_Incidence,...,Guyana_Population,Haiti_Population,Honduras_Population,Mexico_Population,Nicaragua_Population,Panama_Population,Paraguay_Population,Peru_Population,Suriname_Population,Venezuela_Population
0,2000,440.0,1486.0,31469.0,613241.0,144432.0,1879.0,1233.0,104528.0,753.0,...,753301,8549200,6524283,101719673,5026796,3030347,5302700,25914879,472390,24488340
1,2001,215.0,1162.0,15765.0,388303.0,231233.0,1363.0,1038.0,108903.0,362.0,...,752263,8692567,6693061,103067068,5100750,3089684,5406624,26261363,477740,24948476
2,2002,125.0,1134.0,14276.0,348259.0,204916.0,1021.0,1296.0,86757.0,117.0,...,751884,8834733,6863157,104355608,5171734,3149265,5508611,26601467,483044,25408700
3,2003,124.0,1084.0,20343.0,408886.0,180956.0,718.0,1529.0,52065.0,85.0,...,751857,8976552,7033821,105640453,5240879,3209174,5607950,26937738,488332,25868523
4,2004,116.0,1066.0,14910.0,465004.0,142241.0,1289.0,2355.0,28730.0,112.0,...,751652,9119178,7204153,106995583,5309703,3269541,5703740,27273194,493630,26327225
5,2005,252.0,1549.0,21442.0,606067.0,121629.0,3541.0,3837.0,17050.0,67.0,...,750946,9263404,7373430,108472228,5379328,3330465,5795494,27610410,498946,26784161
6,2006,212.0,844.0,19725.0,549469.0,120096.0,2903.0,3525.0,9863.0,49.0,...,749601,9409457,7541406,110092378,5450211,3391905,5882796,27949944,504307,27239168
7,2007,355.0,845.0,14610.0,458652.0,128462.0,1223.0,2711.0,8194.0,40.0,...,747869,9556889,7707972,111836346,5522106,3453807,5966159,28292724,509705,27691965
8,2008,106.0,540.0,9748.0,315746.0,80559.0,966.0,3680.0,4891.0,33.0,...,746314,9705029,7872658,113661809,5594506,3516268,6047117,28641980,515148,28141701
9,2009,136.0,512.0,19486.0,309316.0,158694.0,524.0,3286.0,4126.0,40.0,...,745693,9852870,8035021,115505228,5666581,3579385,6127837,29001507,520619,28587323
10,2010,72.0,300.0,27538.0,669335.0,235300.0,228.0,5896.0,3776.0,48.0,...,746556,9999617,8194778,117318941,5737723,3643222,6209877,29373646,526103,29028033
11,2011,36.0,158.0,14286.0,534292.0,128745.0,34.0,3232.0,2464.0,31.0,...,749100,10145054,8351600,119090017,5807820,3707782,6293783,29759989,531589,29463291
12,2012,8.0,74.0,14830.0,485516.0,120358.0,16.0,1904.0,1116.0,42.0,...,753091,10289210,8505646,120828307,5877108,3772938,6379219,30158966,537077,29893080
13,2013,8.0,52.0,15754.0,356313.0,103418.0,12.0,1158.0,756.0,14.0,...,758081,10431776,8657785,122535969,5945747,3838462,6465740,30565716,542540,30317848
14,2014,8.0,38.0,14802.0,286830.0,81536.0,12.0,992.0,484.0,16.0,...,763393,10572466,8809216,124221600,6013997,3903986,6552584,30973354,547928,30738378
15,2015,2.0,26.0,13814.0,286211.0,107460.0,16.0,1322.0,1372.0,18.0,...,768514,10711061,8960829,125890949,6082035,3969249,6639119,31376671,553208,31155134
16,2016,2.0,10.0,11106.0,258501.0,146397.0,26.0,1510.0,2848.0,28.0,...,773303,10847334,9112867,127540423,6149928,4034119,6725308,31773839,558368,31568179

In [41]:
df_malaria_growth['Argentina Incidence of Malaria per Million People'] = (df_malaria_growth['Argentina_Incidence']/df_malaria_growth['Argentina_Population'])*1000000
df_malaria_growth['Belize Incidence of Malaria per Million People'] = (df_malaria_growth['Belize_Incidence']/df_malaria_growth['Belize_Population'])*1000000
df_malaria_growth['Bolivia Incidence of Malaria per Million People'] = (df_malaria_growth['Bolivia_Incidence']/df_malaria_growth['Bolivia_Population'])*1000000
df_malaria_growth['Brazil Incidence of Malaria per Million People'] = (df_malaria_growth['Brazil_Incidence']/df_malaria_growth['Brazil_Population'])*1000000
df_malaria_growth['Colombia Incidence of Malaria per Million People'] = (df_malaria_growth['Colombia_Incidence']/df_malaria_growth['Colombia_Population'])*1000000
df_malaria_growth['Costa Rica Incidence of Malaria per Million People'] = (df_malaria_growth['Costa Rica_Incidence']/df_malaria_growth['Costa Rica_Population'])*1000000
df_malaria_growth['Dominican Republic Incidence of Malaria per Million People'] = (df_malaria_growth['Dominican Republic_Incidence']/df_malaria_growth['Dominican Republic_Population'])*1000000
df_malaria_growth['Ecuador Incidence of Malaria per Million People'] = (df_malaria_growth['Ecuador_Incidence']/df_malaria_growth['Ecuador_Population'])*1000000
df_malaria_growth['El Salvador Incidence of Malaria per Million People'] = (df_malaria_growth['El Salvador_Incidence']/df_malaria_growth['El Salvador_Population'])*1000000
df_malaria_growth['Guatemala Incidence of Malaria per Million People'] = (df_malaria_growth['Guatemala_Incidence']/df_malaria_growth['Guatemala_Population'])*1000000
df_malaria_growth['Guyana Incidence of Malaria per Million People'] = (df_malaria_growth['Guyana_Incidence']/df_malaria_growth['Guyana_Population'])*1000000
df_malaria_growth['Haiti Incidence of Malaria per Million People'] = (df_malaria_growth['Haiti_Incidence']/df_malaria_growth['Haiti_Population'])*1000000
df_malaria_growth['Honduras Incidence of Malaria per Million People'] = (df_malaria_growth['Honduras_Incidence']/df_malaria_growth['Honduras_Population'])*1000000
df_malaria_growth['Mexico Incidence of Malaria per Million People'] = (df_malaria_growth['Mexico_Incidence']/df_malaria_growth['Mexico_Population'])*1000000
df_malaria_growth['Nicaragua Incidence of Malaria per Million People'] = (df_malaria_growth['Nicaragua_Incidence']/df_malaria_growth['Nicaragua_Population'])*1000000
df_malaria_growth['Panama Incidence of Malaria per Million People'] = (df_malaria_growth['Panama_Incidence']/df_malaria_growth['Panama_Population'])*1000000
df_malaria_growth['Paraguay Incidence of Malaria per Million People'] = (df_malaria_growth['Paraguay_Incidence']/df_malaria_growth['Paraguay_Population'])*1000000
df_malaria_growth['Peru Incidence of Malaria per Million People'] = (df_malaria_growth['Peru_Incidence']/df_malaria_growth['Peru_Population'])*1000000
df_malaria_growth['Suriname Incidence of Malaria per Million People'] = (df_malaria_growth['Suriname_Incidence']/df_malaria_growth['Suriname_Population'])*1000000
df_malaria_growth['Venezuela Incidence of Malaria per Million People'] = (df_malaria_growth['Venezuela_Incidence']/df_malaria_growth['Venezuela_Population'])*1000000

In [43]:
df_malaria_growth.columns

Index(['Year', 'Argentina_Incidence', 'Belize_Incidence', 'Bolivia_Incidence',
       'Brazil_Incidence', 'Colombia_Incidence', 'Costa Rica_Incidence',
       'Dominican Republic_Incidence', 'Ecuador_Incidence',
       'El Salvador_Incidence', 'French Guiana', 'Guatemala_Incidence',
       'Guyana_Incidence', 'Haiti_Incidence', 'Honduras_Incidence',
       'Mexico_Incidence', 'Nicaragua_Incidence', 'Panama_Incidence',
       'Paraguay_Incidence', 'Peru_Incidence', 'Suriname_Incidence',
       'Venezuela_Incidence', 'Argentina_Population', 'Belize_Population',
       'Bolivia_Population', 'Brazil_Population', 'Colombia_Population',
       'Costa Rica_Population', 'Dominican Republic_Population',
       'Ecuador_Population', 'El Salvador_Population', 'Guatemala_Population',
       'Guyana_Population', 'Haiti_Population', 'Honduras_Population',
       'Mexico_Population', 'Nicaragua_Population', 'Panama_Population',
       'Paraguay_Population', 'Peru_Population', 'Suriname_Population',
       'Venezuela_Population', 'Argentina Incidence % of Population',
       'Argentina Incidence of Malaria per Million People',
       'Belize Incidence of Malaria per Million People',
       'Bolivia Incidence of Malaria per Million People',
       'Brazil Incidence of Malaria per Million People',
       'Colombia Incidence of Malaria per Million People',
       'Costa Rica Incidence of Malaria per Million People',
       'Dominican Republic Incidence of Malaria per Million People',
       'Ecuador Incidence of Malaria per Million People',
       'El Salvador Incidence of Malaria per Million People',
       'Guatemala Incidence of Malaria per Million People',
       'Guyana Incidence of Malaria per Million People',
       'Haiti Incidence of Malaria per Million People',
       'Honduras Incidence of Malaria per Million People',
       'Mexico Incidence of Malaria per Million People',
       'Nicaragua Incidence of Malaria per Million People',
       'Panama Incidence of Malaria per Million People',
       'Paraguay Incidence of Malaria per Million People',
       'Peru Incidence of Malaria per Million People',
       'Suriname Incidence of Malaria per Million People',
       'Venezuela Incidence of Malaria per Million People'],
      dtype='object')

In [45]:
df_malaria_growth.drop(columns=['Argentina_Incidence', 'Belize_Incidence', 'Bolivia_Incidence',
       'Brazil_Incidence', 'Colombia_Incidence', 'Costa Rica_Incidence',
       'Dominican Republic_Incidence', 'Ecuador_Incidence',
       'El Salvador_Incidence', 'French Guiana', 'Guatemala_Incidence',
       'Guyana_Incidence', 'Haiti_Incidence', 'Honduras_Incidence',
       'Mexico_Incidence', 'Nicaragua_Incidence', 'Panama_Incidence',
       'Paraguay_Incidence', 'Peru_Incidence', 'Suriname_Incidence',
       'Venezuela_Incidence', 'Argentina_Population', 'Belize_Population',
       'Bolivia_Population', 'Brazil_Population', 'Colombia_Population',
       'Costa Rica_Population', 'Dominican Republic_Population',
       'Ecuador_Population', 'El Salvador_Population', 'Guatemala_Population',
       'Guyana_Population', 'Haiti_Population', 'Honduras_Population',
       'Mexico_Population', 'Nicaragua_Population', 'Panama_Population',
       'Paraguay_Population', 'Peru_Population', 'Suriname_Population',
       'Venezuela_Population', 'Argentina Incidence % of Population'], inplace=True)

,Year,Argentina Incidence of Malaria per Million People,Belize Incidence of Malaria per Million People,Bolivia Incidence of Malaria per Million People,Brazil Incidence of Malaria per Million People,Colombia Incidence of Malaria per Million People,Costa Rica Incidence of Malaria per Million People,Dominican Republic Incidence of Malaria per Million People,Ecuador Incidence of Malaria per Million People,El Salvador Incidence of Malaria per Million People,...,Guyana Incidence of Malaria per Million People,Haiti Incidence of Malaria per Million People,Honduras Incidence of Malaria per Million People,Mexico Incidence of Malaria per Million People,Nicaragua Incidence of Malaria per Million People,Panama Incidence of Malaria per Million People,Paraguay Incidence of Malaria per Million People,Peru Incidence of Malaria per Million People,Suriname Incidence of Malaria per Million People,Venezuela Incidence of Malaria per Million People
0,2000,11.873455,6008.531630,3773.482189,3498.485035,3574.699291,478.672089,143.997948,8277.087968,128.331288,...,31883.669343,1976.442240,5383.733354,72.650646,4750.143033,341.875039,1292.360496,2636.361914,24050.043396,1214.292190
1,2001,5.737693,4557.148684,1855.497197,2184.537476,5641.355324,341.022989,119.349771,8473.125023,61.293994,...,36053.880092,1131.656506,3608.065129,48.473291,2054.991913,300.354340,501.237001,2990.857710,33497.299786,801.892669
2,2002,3.299078,4324.843825,1649.766651,1933.150298,4929.124887,251.279532,146.734395,6636.826942,19.695965,...,29120.183433,1113.446213,2509.486523,44.310029,1487.895549,712.547213,504.301357,3730.508547,26575.218821,1160.665441
3,2003,3.236805,4027.793260,2308.970514,2240.690403,4292.924458,174.019643,170.499657,3917.724844,14.234196,...,36745.019332,1095.855068,2007.870260,36.150924,1281.655234,1402.229982,248.219046,3281.938521,22488.798604,1226.162004
4,2004,2.995195,3861.073784,1662.626073,2517.093652,3329.286989,307.854861,258.705978,2126.628475,18.664256,...,38403.410089,1184.536589,2400.420979,31.833090,1298.942709,1558.322713,121.674550,3431.244613,16972.226161,1772.119925
5,2005,6.437524,5468.146020,2349.702901,3242.432895,2809.916103,833.599939,415.369157,1241.333147,11.113026,...,51913.186834,2350.971630,2170.902823,27.352623,1234.726717,1101.047451,64.360346,3176.301982,18300.577618,1681.926867
6,2006,5.359099,2902.867441,2124.775431,2907.052474,2739.683402,673.738406,376.146928,706.140263,8.090511,...,28100.282684,3479.371870,1581.004921,22.835368,571.354026,490.284958,139.899463,2322.902686,6521.821034,1360.614245
7,2007,8.881611,2831.703010,1547.432787,2400.984529,2894.946232,279.896711,285.237722,576.820746,6.575189,...,15585.617267,3120.785436,1363.912583,21.111205,245.558488,370.895073,224.767727,1795.408600,5487.487861,1507.621435
8,2008,2.624907,1763.754838,1015.432004,1636.167420,1794.125387,218.082911,381.880596,338.534626,5.400716,...,15831.138100,3789.169512,1062.919283,20.736957,136.205055,211.587968,57.548084,2910.203834,8158.820378,1138.417326
9,2009,3.333382,1630.942028,1996.772537,1587.082374,3494.217182,116.748952,336.412921,280.846965,6.517549,...,18335.963996,5027.469154,2319.097859,46.803076,107.648686,434.711550,29.700529,2746.995182,9371.536575,2506.565585
10,2010,1.746560,932.812617,2776.500110,3401.156960,5124.341281,50.161926,595.676797,252.834173,7.786360,...,61442.142318,8415.622318,2370.656045,20.959957,241.210668,229.467213,8.695824,2147.877727,6620.376618,3111.130541
11,2011,0.864203,479.963061,1417.494920,2689.118256,2774.279356,7.390543,322.326656,162.347128,5.006007,...,78683.753838,6771.772728,1827.194789,18.926859,318.536043,190.949738,3.177739,1681.586643,2945.884885,3110.582589
12,2012,0.190038,219.779567,1448.383065,2420.789890,2567.282706,3.437813,187.494769,72.375109,6.751059,...,83923.456793,5416.548015,1516.874791,13.862646,420.274734,447.396697,4.702770,2089.129979,2090.947853,3532.790867
13,2013,0.188059,151.083296,1514.769240,1760.364647,2184.442082,2.549719,112.631715,48.271094,2.239722,...,83049.172846,4017.916029,1253.900391,8.144547,401.967995,367.334625,3.402549,2833.468714,2687.359457,5187.901199
14,2014,0.186127,108.048474,1401.418024,1404.561968,1706.062769,2.522293,95.331047,30.434295,2.547288,...,32363.409148,3347.563378,778.956947,10.690572,386.764410,447.747507,2.441785,3681.874427,1463.695960,5901.937962
15,2015,0.046064,72.365345,1288.054077,1389.629397,2228.134009,3.327889,125.565210,84.983197,2.851495,...,25982.610597,3283.148140,797.917246,8.753608,758.627663,283.176994,2.409958,4245.765907,1359.344044,8756.309634
16,2016,0.045613,27.251372,1020.033097,1244.870857,3008.976615,5.352797,141.800135,173.816795,4.413117,...,30356.794167,4003.564378,925.614299,9.346057,2043.601161,402.070440,3.122534,3564.127080,1171.270560,15244.021519

In [57]:
df_malaria_growth.rename(columns={
    'Argentina Incidence of Malaria per Million People': 'ARG',
    'Belize Incidence of Malaria per Million People': 'BLZ',
    'Bolivia Incidence of Malaria per Million People': 'BOL',
    'Brazil Incidence of Malaria per Million People': 'BRA',
    'Colombia Incidence of Malaria per Million People': 'COL',
    'Costa Rica Incidence of Malaria per Million People': 'CRI',
    'Dominican Republic Incidence of Malaria per Million People': 'DOM',
    'Ecuador Incidence of Malaria per Million People': 'ECU',
    'El Salvador Incidence of Malaria per Million People': 'SLV',
    'Guatemala Incidence of Malaria per Million People': 'GTM',
    'Guyana Incidence of Malaria per Million People': 'GUY',
    'Haiti Incidence of Malaria per Million People': 'HTI',
    'Honduras Incidence of Malaria per Million People': 'HND',
    'Mexico Incidence of Malaria per Million People': 'MEX',
    'Nicaragua Incidence of Malaria per Million People': 'NIC',
    'Panama Incidence of Malaria per Million People': 'PAN',
    'Paraguay Incidence of Malaria per Million People': 'PRY',
    'Peru Incidence of Malaria per Million People': 'PER',
    'Suriname Incidence of Malaria per Million People': 'SUR',
    'Venezuela Incidence of Malaria per Million People': 'VEN',
}, inplace=True)
df_malaria_growth

,Year,ARG,BLZ,BOL,BRA,COL,CRI,DOM,ECU,SLV,...,GUY,HTI,HND,MEX,NIC,PAN,PRY,PER,SUR,VEN
0,2000,11.873455,6008.531630,3773.482189,3498.485035,3574.699291,478.672089,143.997948,8277.087968,128.331288,...,31883.669343,1976.442240,5383.733354,72.650646,4750.143033,341.875039,1292.360496,2636.361914,24050.043396,1214.292190
1,2001,5.737693,4557.148684,1855.497197,2184.537476,5641.355324,341.022989,119.349771,8473.125023,61.293994,...,36053.880092,1131.656506,3608.065129,48.473291,2054.991913,300.354340,501.237001,2990.857710,33497.299786,801.892669
2,2002,3.299078,4324.843825,1649.766651,1933.150298,4929.124887,251.279532,146.734395,6636.826942,19.695965,...,29120.183433,1113.446213,2509.486523,44.310029,1487.895549,712.547213,504.301357,3730.508547,26575.218821,1160.665441
3,2003,3.236805,4027.793260,2308.970514,2240.690403,4292.924458,174.019643,170.499657,3917.724844,14.234196,...,36745.019332,1095.855068,2007.870260,36.150924,1281.655234,1402.229982,248.219046,3281.938521,22488.798604,1226.162004
4,2004,2.995195,3861.073784,1662.626073,2517.093652,3329.286989,307.854861,258.705978,2126.628475,18.664256,...,38403.410089,1184.536589,2400.420979,31.833090,1298.942709,1558.322713,121.674550,3431.244613,16972.226161,1772.119925
5,2005,6.437524,5468.146020,2349.702901,3242.432895,2809.916103,833.599939,415.369157,1241.333147,11.113026,...,51913.186834,2350.971630,2170.902823,27.352623,1234.726717,1101.047451,64.360346,3176.301982,18300.577618,1681.926867
6,2006,5.359099,2902.867441,2124.775431,2907.052474,2739.683402,673.738406,376.146928,706.140263,8.090511,...,28100.282684,3479.371870,1581.004921,22.835368,571.354026,490.284958,139.899463,2322.902686,6521.821034,1360.614245
7,2007,8.881611,2831.703010,1547.432787,2400.984529,2894.946232,279.896711,285.237722,576.820746,6.575189,...,15585.617267,3120.785436,1363.912583,21.111205,245.558488,370.895073,224.767727,1795.408600,5487.487861,1507.621435
8,2008,2.624907,1763.754838,1015.432004,1636.167420,1794.125387,218.082911,381.880596,338.534626,5.400716,...,15831.138100,3789.169512,1062.919283,20.736957,136.205055,211.587968,57.548084,2910.203834,8158.820378,1138.417326
9,2009,3.333382,1630.942028,1996.772537,1587.082374,3494.217182,116.748952,336.412921,280.846965,6.517549,...,18335.963996,5027.469154,2319.097859,46.803076,107.648686,434.711550,29.700529,2746.995182,9371.536575,2506.565585
10,2010,1.746560,932.812617,2776.500110,3401.156960,5124.341281,50.161926,595.676797,252.834173,7.786360,...,61442.142318,8415.622318,2370.656045,20.959957,241.210668,229.467213,8.695824,2147.877727,6620.376618,3111.130541
11,2011,0.864203,479.963061,1417.494920,2689.118256,2774.279356,7.390543,322.326656,162.347128,5.006007,...,78683.753838,6771.772728,1827.194789,18.926859,318.536043,190.949738,3.177739,1681.586643,2945.884885,3110.582589
12,2012,0.190038,219.779567,1448.383065,2420.789890,2567.282706,3.437813,187.494769,72.375109,6.751059,...,83923.456793,5416.548015,1516.874791,13.862646,420.274734,447.396697,4.702770,2089.129979,2090.947853,3532.790867
13,2013,0.188059,151.083296,1514.769240,1760.364647,2184.442082,2.549719,112.631715,48.271094,2.239722,...,83049.172846,4017.916029,1253.900391,8.144547,401.967995,367.334625,3.402549,2833.468714,2687.359457,5187.901199
14,2014,0.186127,108.048474,1401.418024,1404.561968,1706.062769,2.522293,95.331047,30.434295,2.547288,...,32363.409148,3347.563378,778.956947,10.690572,386.764410,447.747507,2.441785,3681.874427,1463.695960,5901.937962
15,2015,0.046064,72.365345,1288.054077,1389.629397,2228.134009,3.327889,125.565210,84.983197,2.851495,...,25982.610597,3283.148140,797.917246,8.753608,758.627663,283.176994,2.409958,4245.765907,1359.344044,8756.309634
16,2016,0.045613,27.251372,1020.033097,1244.870857,3008.976615,5.352797,141.800135,173.816795,4.413117,...,30356.794167,4003.564378,925.614299,9.346057,2043.601161,402.070440,3.122534,3564.127080,1171.270560,15244.021519

In [58]:
df_malaria_growth.to_csv("data_files/malaria_incidence_per_mill.csv")

In [59]:
df = df_malaria_growth

In [60]:
df

,Year,ARG,BLZ,BOL,BRA,COL,CRI,DOM,ECU,SLV,...,GUY,HTI,HND,MEX,NIC,PAN,PRY,PER,SUR,VEN
0,2000,11.873455,6008.531630,3773.482189,3498.485035,3574.699291,478.672089,143.997948,8277.087968,128.331288,...,31883.669343,1976.442240,5383.733354,72.650646,4750.143033,341.875039,1292.360496,2636.361914,24050.043396,1214.292190
1,2001,5.737693,4557.148684,1855.497197,2184.537476,5641.355324,341.022989,119.349771,8473.125023,61.293994,...,36053.880092,1131.656506,3608.065129,48.473291,2054.991913,300.354340,501.237001,2990.857710,33497.299786,801.892669
2,2002,3.299078,4324.843825,1649.766651,1933.150298,4929.124887,251.279532,146.734395,6636.826942,19.695965,...,29120.183433,1113.446213,2509.486523,44.310029,1487.895549,712.547213,504.301357,3730.508547,26575.218821,1160.665441
3,2003,3.236805,4027.793260,2308.970514,2240.690403,4292.924458,174.019643,170.499657,3917.724844,14.234196,...,36745.019332,1095.855068,2007.870260,36.150924,1281.655234,1402.229982,248.219046,3281.938521,22488.798604,1226.162004
4,2004,2.995195,3861.073784,1662.626073,2517.093652,3329.286989,307.854861,258.705978,2126.628475,18.664256,...,38403.410089,1184.536589,2400.420979,31.833090,1298.942709,1558.322713,121.674550,3431.244613,16972.226161,1772.119925
5,2005,6.437524,5468.146020,2349.702901,3242.432895,2809.916103,833.599939,415.369157,1241.333147,11.113026,...,51913.186834,2350.971630,2170.902823,27.352623,1234.726717,1101.047451,64.360346,3176.301982,18300.577618,1681.926867
6,2006,5.359099,2902.867441,2124.775431,2907.052474,2739.683402,673.738406,376.146928,706.140263,8.090511,...,28100.282684,3479.371870,1581.004921,22.835368,571.354026,490.284958,139.899463,2322.902686,6521.821034,1360.614245
7,2007,8.881611,2831.703010,1547.432787,2400.984529,2894.946232,279.896711,285.237722,576.820746,6.575189,...,15585.617267,3120.785436,1363.912583,21.111205,245.558488,370.895073,224.767727,1795.408600,5487.487861,1507.621435
8,2008,2.624907,1763.754838,1015.432004,1636.167420,1794.125387,218.082911,381.880596,338.534626,5.400716,...,15831.138100,3789.169512,1062.919283,20.736957,136.205055,211.587968,57.548084,2910.203834,8158.820378,1138.417326
9,2009,3.333382,1630.942028,1996.772537,1587.082374,3494.217182,116.748952,336.412921,280.846965,6.517549,...,18335.963996,5027.469154,2319.097859,46.803076,107.648686,434.711550,29.700529,2746.995182,9371.536575,2506.565585
10,2010,1.746560,932.812617,2776.500110,3401.156960,5124.341281,50.161926,595.676797,252.834173,7.786360,...,61442.142318,8415.622318,2370.656045,20.959957,241.210668,229.467213,8.695824,2147.877727,6620.376618,3111.130541
11,2011,0.864203,479.963061,1417.494920,2689.118256,2774.279356,7.390543,322.326656,162.347128,5.006007,...,78683.753838,6771.772728,1827.194789,18.926859,318.536043,190.949738,3.177739,1681.586643,2945.884885,3110.582589
12,2012,0.190038,219.779567,1448.383065,2420.789890,2567.282706,3.437813,187.494769,72.375109,6.751059,...,83923.456793,5416.548015,1516.874791,13.862646,420.274734,447.396697,4.702770,2089.129979,2090.947853,3532.790867
13,2013,0.188059,151.083296,1514.769240,1760.364647,2184.442082,2.549719,112.631715,48.271094,2.239722,...,83049.172846,4017.916029,1253.900391,8.144547,401.967995,367.334625,3.402549,2833.468714,2687.359457,5187.901199
14,2014,0.186127,108.048474,1401.418024,1404.561968,1706.062769,2.522293,95.331047,30.434295,2.547288,...,32363.409148,3347.563378,778.956947,10.690572,386.764410,447.747507,2.441785,3681.874427,1463.695960,5901.937962
15,2015,0.046064,72.365345,1288.054077,1389.629397,2228.134009,3.327889,125.565210,84.983197,2.851495,...,25982.610597,3283.148140,797.917246,8.753608,758.627663,283.176994,2.409958,4245.765907,1359.344044,8756.309634
16,2016,0.045613,27.251372,1020.033097,1244.870857,3008.976615,5.352797,141.800135,173.816795,4.413117,...,30356.794167,4003.564378,925.614299,9.346057,2043.601161,402.070440,3.122534,3564.127080,1171.270560,15244.021519

In [61]:
df_melt = pd.melt(df, id_vars=['Year'],var_name='Country')

In [62]:
df_melt

     Year Country         value
0    2000     ARG     11.873455
1    2001     ARG      5.737693
2    2002     ARG      3.299078
3    2003     ARG      3.236805
4    2004     ARG      2.995195
5    2005     ARG      6.437524
6    2006     ARG      5.359099
7    2007     ARG      8.881611
8    2008     ARG      2.624907
9    2009     ARG      3.333382
10   2010     ARG      1.746560
11   2011     ARG      0.864203
12   2012     ARG      0.190038
13   2013     ARG      0.188059
14   2014     ARG      0.186127
15   2015     ARG      0.046064
16   2016     ARG      0.045613
17   2000     BLZ   6008.531630
18   2001     BLZ   4557.148684
19   2002     BLZ   4324.843825
20   2003     BLZ   4027.793260
21   2004     BLZ   3861.073784
22   2005     BLZ   5468.146020
23   2006     BLZ   2902.867441
24   2007     BLZ   2831.703010
25   2008     BLZ   1763.754838
26   2009     BLZ   1630.942028
27   2010     BLZ    932.812617
28   2011     BLZ    479.963061
29   2012     BLZ    219.779567
..    ...     ...           ...
310  2004     SUR  16972.226161
311  2005     SUR  18300.577618
312  2006     SUR   6521.821034
313  2007     SUR   5487.487861
314  2008     SUR   8158.820378
315  2009     SUR   9371.536575
316  2010     SUR   6620.376618
317  2011     SUR   2945.884885
318  2012     SUR   2090.947853
319  2013     SUR   2687.359457
320  2014     SUR   1463.695960
321  2015     SUR   1359.344044
322  2016     SUR   1171.270560
323  2000     VEN   1214.292190
324  2001     VEN    801.892669
325  2002     VEN   1160.665441
326  2003     VEN   1226.162004
327  2004     VEN   1772.119925
328  2005     VEN   1681.926867
329  2006     VEN   1360.614245
330  2007     VEN   1507.621435
331  2008     VEN   1138.417326
332  2009     VEN   2506.565585
333  2010     VEN   3111.130541
334  2011     VEN   3110.582589
335  2012     VEN   3532.790867
336  2013     VEN   5187.901199
337  2014     VEN   5901.937962
338  2015     VEN   8756.309634
339  2016     VEN  15244.021519

[340 rows x 3 columns]