In [1]:
import pandas as pd
import numpy as np

import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine

from flask import Flask, jsonify, render_template
from flask_sqlalchemy import SQLAlchemy

app = Flask(__name__)

In [2]:
app.config['SQLALCHEMY_DATABASE_URI'] = "sqlite:///interactive_app/db/datasets.db"
db = SQLAlchemy(app)

/anaconda3/envs/data_bootcamp/lib/python3.6/site-packages/flask_sqlalchemy/__init__.py:794: FSADeprecationWarning: SQLALCHEMY_TRACK_MODIFICATIONS adds significant overhead and will be disabled by default in the future.  Set it to True or False to suppress this warning.
  'SQLALCHEMY_TRACK_MODIFICATIONS adds significant overhead and '

In [3]:
Base = automap_base()

In [4]:
Base.prepare(db.engine, reflect=True)

In [5]:
Base.classes.keys()

['Temp_CO2_dataset', 'malaria_viz_data', 'mosquito_life2', 'prec_temp_usa']

In [6]:
Climate_Data = Base.classes.Temp_CO2_dataset

In [7]:
stmt = db.session.query(Climate_Data).statement

In [8]:
stmt

In [9]:
df = pd.read_sql_query(stmt, db.session.bind)

In [10]:
df

     Year  Mean  Co2_data_mean_global
0    1880 -0.20            289.469999
1    1881 -0.12            289.736999
2    1882 -0.10            290.018999
3    1883 -0.21            290.262999
4    1884 -0.28            290.511999
5    1885 -0.32            290.796999
6    1886 -0.31            291.099999
7    1887 -0.33            291.413999
8    1888 -0.20            291.762999
9    1889 -0.12            292.112999
10   1890 -0.37            292.457999
11   1891 -0.24            292.815999
12   1892 -0.27            293.166999
13   1893 -0.30            293.476999
14   1894 -0.31            293.790999
15   1895 -0.21            294.078999
16   1896 -0.15            294.364999
17   1897 -0.11            294.645999
18   1898 -0.28            294.953999
19   1899 -0.16            295.299999
20   1900 -0.09            295.674998
21   1901 -0.15            296.006998
22   1902 -0.27            296.324997
23   1903 -0.35            296.653997
24   1904 -0.44            296.953996
25   1905 -0.28            297.288996
26   1906 -0.23            297.661995
27   1907 -0.40            298.097995
28   1908 -0.43            298.517994
29   1909 -0.47            298.935993
..    ...   ...                   ...
108  1988  0.41            351.275933
109  1989  0.29            352.893921
110  1990  0.44            354.072930
111  1991  0.43            355.352935
112  1992  0.23            356.228949
113  1993  0.24            356.924959
114  1994  0.32            358.253962
115  1995  0.46            360.238956
116  1996  0.35            362.004961
117  1997  0.48            363.251962
118  1998  0.64            365.932958
119  1999  0.42            367.844975
120  2000  0.42            369.124980
121  2001  0.55            370.672990
122  2002  0.63            372.834994
123  2003  0.62            375.410995
124  2004  0.55            376.987003
125  2005  0.69            378.907005
126  2006  0.63            381.010007
127  2007  0.66            382.603025
128  2008  0.54            384.739019
129  2009  0.64            386.280019
130  2010  0.71            388.717029
131  2011  0.60            390.944015
132  2012  0.63            393.015993
133  2013  0.65            395.724979
134  2014  0.74            397.546977
135  2015  0.87            399.839626
136  2016  0.99            402.145496
137  2017  0.99            404.464664

[138 rows x 3 columns]

In [13]:
df['Year'] = pd.to_numeric(df['Year'])
df['Mean'] = df['Mean'].astype('float')
df['Co2_data_mean_global'] = df['Co2_data_mean_global'].astype('float')
df

     Year  Mean  Co2_data_mean_global
0    1880 -0.20            289.469999
1    1881 -0.12            289.736999
2    1882 -0.10            290.018999
3    1883 -0.21            290.262999
4    1884 -0.28            290.511999
5    1885 -0.32            290.796999
6    1886 -0.31            291.099999
7    1887 -0.33            291.413999
8    1888 -0.20            291.762999
9    1889 -0.12            292.112999
10   1890 -0.37            292.457999
11   1891 -0.24            292.815999
12   1892 -0.27            293.166999
13   1893 -0.30            293.476999
14   1894 -0.31            293.790999
15   1895 -0.21            294.078999
16   1896 -0.15            294.364999
17   1897 -0.11            294.645999
18   1898 -0.28            294.953999
19   1899 -0.16            295.299999
20   1900 -0.09            295.674998
21   1901 -0.15            296.006998
22   1902 -0.27            296.324997
23   1903 -0.35            296.653997
24   1904 -0.44            296.953996
25   1905 -0.28            297.288996
26   1906 -0.23            297.661995
27   1907 -0.40            298.097995
28   1908 -0.43            298.517994
29   1909 -0.47            298.935993
..    ...   ...                   ...
108  1988  0.41            351.275933
109  1989  0.29            352.893921
110  1990  0.44            354.072930
111  1991  0.43            355.352935
112  1992  0.23            356.228949
113  1993  0.24            356.924959
114  1994  0.32            358.253962
115  1995  0.46            360.238956
116  1996  0.35            362.004961
117  1997  0.48            363.251962
118  1998  0.64            365.932958
119  1999  0.42            367.844975
120  2000  0.42            369.124980
121  2001  0.55            370.672990
122  2002  0.63            372.834994
123  2003  0.62            375.410995
124  2004  0.55            376.987003
125  2005  0.69            378.907005
126  2006  0.63            381.010007
127  2007  0.66            382.603025
128  2008  0.54            384.739019
129  2009  0.64            386.280019
130  2010  0.71            388.717029
131  2011  0.60            390.944015
132  2012  0.63            393.015993
133  2013  0.65            395.724979
134  2014  0.74            397.546977
135  2015  0.87            399.839626
136  2016  0.99            402.145496
137  2017  0.99            404.464664

[138 rows x 3 columns]

In [12]:
data = [{key: value[i] for key, value in df.items()}
            for i in range(138)]
data

[{'Year': 1880, 'Mean': -0.2, 'Co2_data_mean_global': 289.4699993},
 {'Year': 1881, 'Mean': -0.12, 'Co2_data_mean_global': 289.7369993},
 {'Year': 1882, 'Mean': -0.1, 'Co2_data_mean_global': 290.0189993},
 {'Year': 1883, 'Mean': -0.21, 'Co2_data_mean_global': 290.2629992},
 {'Year': 1884, 'Mean': -0.28, 'Co2_data_mean_global': 290.5119992},
 {'Year': 1885, 'Mean': -0.32, 'Co2_data_mean_global': 290.7969992},
 {'Year': 1886, 'Mean': -0.31, 'Co2_data_mean_global': 291.0999992},
 {'Year': 1887, 'Mean': -0.33, 'Co2_data_mean_global': 291.4139991},
 {'Year': 1888, 'Mean': -0.2, 'Co2_data_mean_global': 291.7629991},
 {'Year': 1889, 'Mean': -0.12, 'Co2_data_mean_global': 292.1129991},
 {'Year': 1890, 'Mean': -0.37, 'Co2_data_mean_global': 292.457999},
 {'Year': 1891, 'Mean': -0.24, 'Co2_data_mean_global': 292.815999},
 {'Year': 1892, 'Mean': -0.27, 'Co2_data_mean_global': 293.1669989},
 {'Year': 1893, 'Mean': -0.3, 'Co2_data_mean_global': 293.4769989},
 {'Year': 1894, 'Mean': -0.31, 'Co2_data_mean_global': 293.7909989},
 {'Year': 1895, 'Mean': -0.21, 'Co2_data_mean_global': 294.0789989},
 {'Year': 1896, 'Mean': -0.15, 'Co2_data_mean_global': 294.3649988},
 {'Year': 1897, 'Mean': -0.11, 'Co2_data_mean_global': 294.6459988},
 {'Year': 1898, 'Mean': -0.28, 'Co2_data_mean_global': 294.9539987},
 {'Year': 1899, 'Mean': -0.16, 'Co2_data_mean_global': 295.2999986},
 {'Year': 1900, 'Mean': -0.09, 'Co2_data_mean_global': 295.6749984},
 {'Year': 1901, 'Mean': -0.15, 'Co2_data_mean_global': 296.006998},
 {'Year': 1902, 'Mean': -0.27, 'Co2_data_mean_global': 296.3249974},
 {'Year': 1903, 'Mean': -0.35, 'Co2_data_mean_global': 296.6539968},
 {'Year': 1904, 'Mean': -0.44, 'Co2_data_mean_global': 296.9539963},
 {'Year': 1905, 'Mean': -0.28, 'Co2_data_mean_global': 297.2889957},
 {'Year': 1906, 'Mean': -0.23, 'Co2_data_mean_global': 297.6619951},
 {'Year': 1907, 'Mean': -0.4, 'Co2_data_mean_global': 298.0979945},
 {'Year': 1908, 'Mean': -0.43, 'Co2_data_mean_global': 298.517994},
 {'Year': 1909, 'Mean': -0.47, 'Co2_data_mean_global': 298.9359935},
 {'Year': 1910, 'Mean': -0.42, 'Co2_data_mean_global': 299.3769929},
 {'Year': 1911, 'Mean': -0.44, 'Co2_data_mean_global': 299.8289923},
 {'Year': 1912, 'Mean': -0.35, 'Co2_data_mean_global': 300.3529917},
 {'Year': 1913, 'Mean': -0.34, 'Co2_data_mean_global': 300.9099911},
 {'Year': 1914, 'Mean': -0.16, 'Co2_data_mean_global': 301.4189908},
 {'Year': 1915, 'Mean': -0.11, 'Co2_data_mean_global': 301.9369903},
 {'Year': 1916, 'Mean': -0.34, 'Co2_data_mean_global': 302.4849897},
 {'Year': 1917, 'Mean': -0.4, 'Co2_data_mean_global': 303.0109891},
 {'Year': 1918, 'Mean': -0.26, 'Co2_data_mean_global': 303.4489886},
 {'Year': 1919, 'Mean': -0.22, 'Co2_data_mean_global': 303.8139883},
 {'Year': 1920, 'Mean': -0.27, 'Co2_data_mean_global': 304.2459877},
 {'Year': 1921, 'Mean': -0.21, 'Co2_data_mean_global': 304.5999873},
 {'Year': 1922, 'Mean': -0.28, 'Co2_data_mean_global': 304.9449868},
 {'Year': 1923, 'Mean': -0.24, 'Co2_data_mean_global': 305.2709861},
 {'Year': 1924, 'Mean': -0.28, 'Co2_data_mean_global': 305.6299855},
 {'Year': 1925, 'Mean': -0.21, 'Co2_data_mean_global': 305.812985},
 {'Year': 1926, 'Mean': -0.1, 'Co2_data_mean_global': 305.9539845},
 {'Year': 1927, 'Mean': -0.21, 'Co2_data_mean_global': 306.1769839},
 {'Year': 1928, 'Mean': -0.21, 'Co2_data_mean_global': 306.3289833},
 {'Year': 1929, 'Mean': -0.36, 'Co2_data_mean_global': 306.4949827},
 {'Year': 1930, 'Mean': -0.15, 'Co2_data_mean_global': 306.6199824},
 {'Year': 1931, 'Mean': -0.09, 'Co2_data_mean_global': 306.8219821},
 {'Year': 1932, 'Mean': -0.17, 'Co2_data_mean_global': 307.0929818},
 {'Year': 1933, 'Mean': -0.29, 'Co2_data_mean_global': 307.4019813},
 {'Year': 1934, 'Mean': -0.14, 'Co2_data_mean_global': 307.7849806},
 {'Year': 1935, 'Mean': -0.2, 'Co2_data_mean_global': 308.22698},
 {'Year': 1936, 'Mean': -0.15, 'Co2_data_mean_global': 309.0119793},
 {'Year': 1937, 'Mean': -0.03, 'Co2_data_mean_global': 309.7639786},
 {'Year': 1938, 'Mean': -0.03, 'Co2_data_mean_global': 310.2939782},
 {'Year': 1939, 'Mean': -0.03, 'Co2_data_mean_global': 310.8509776},
 {'Year': 1940, 'Mean': 0.08, 'Co2_data_mean_global': 311.3569769},
 {'Year': 1941, 'Mean': 0.12, 'Co2_data_mean_global': 311.8109763},
 {'Year': 1942, 'Mean': 0.09, 'Co2_data_mean_global': 312.1719757},
 {'Year': 1943, 'Mean': 0.13, 'Co2_data_mean_global': 312.3899752},
 {'Year': 1944, 'Mean': 0.25, 'Co2_data_mean_global': 312.4129748},
 {'Year': 1945, 'Mean': 0.12, 'Co2_data_mean_global': 312.3849746},
 {'Year': 1946, 'Mean': -0.04, 'Co2_data_mean_global': 312.389974},
 {'Year': 1947, 'Mean': -0.05, 'Co2_data_mean_global': 312.4859732},
 {'Year': 1948, 'Mean': -0.09, 'Co2_data_mean_global': 312.5209725},
 {'Year': 1949, 'Mean': -0.09, 'Co2_data_mean_global': 312.6319721},
 {'Year': 1950, 'Mean': -0.18, 'Co2_data_mean_global': 312.8209713},
 {'Year': 1951, 'Mean': -0.07, 'Co2_data_mean_global': 313.0139706},
 {'Year': 1952, 'Mean': 0.01, 'Co2_data_mean_global': 313.34197},
 {'Year': 1953, 'Mean': 0.08, 'Co2_data_mean_global': 313.7299694},
 {'Year': 1954, 'Mean': -0.13, 'Co2_data_mean_global': 314.0949688},
 {'Year': 1955, 'Mean': -0.15, 'Co2_data_mean_global': 314.414968},
 {'Year': 1956, 'Mean': -0.2, 'Co2_data_mean_global': 314.6979672},
 {'Year': 1957, 'Mean': 0.04, 'Co2_data_mean_global': 314.9919665},
 {'Year': 1958, 'Mean': 0.07, 'Co2_data_mean_global': 315.3449659},
 {'Year': 1959, 'Mean': 0.03, 'Co2_data_mean_global': 315.8069651},
 {'Year': 1960, 'Mean': -0.02, 'Co2_data_mean_global': 316.6249644},
 {'Year': 1961, 'Mean': 0.05, 'Co2_data_mean_global': 317.2989638},
 {'Year': 1962, 'Mean': 0.03, 'Co2_data_mean_global': 318.0439631},
 {'Year': 1963, 'Mean': 0.06, 'Co2_data_mean_global': 318.6499622},
 {'Year': 1964, 'Mean': -0.2, 'Co2_data_mean_global': 319.3329614},
 {'Year': 1965, 'Mean': -0.1, 'Co2_data_mean_global': 319.8159605},
 {'Year': 1966, 'Mean': -0.05, 'Co2_data_mean_global': 320.8799597},
 {'Year': 1967, 'Mean': -0.02, 'Co2_data_mean_global': 321.4799589},
 {'Year': 1968, 'Mean': -0.07, 'Co2_data_mean_global': 322.388958},
 {'Year': 1969, 'Mean': 0.07, 'Co2_data_mean_global': 323.250957},
 {'Year': 1970, 'Mean': 0.02, 'Co2_data_mean_global': 324.7829559},
 {'Year': 1971, 'Mean': -0.09, 'Co2_data_mean_global': 325.399955},
 {'Year': 1972, 'Mean': 0.01, 'Co2_data_mean_global': 327.3489541},
 {'Year': 1973, 'Mean': 0.15, 'Co2_data_mean_global': 329.9089531},
 {'Year': 1974, 'Mean': -0.07, 'Co2_data_mean_global': 330.7559525},
 {'Year': 1975, 'Mean': -0.02, 'Co2_data_mean_global': 330.826952},
 {'Year': 1976, 'Mean': -0.11, 'Co2_data_mean_global': 331.544951},
 {'Year': 1977, 'Mean': 0.18, 'Co2_data_mean_global': 333.3529501},
 {'Year': 1978, 'Mean': 0.07, 'Co2_data_mean_global': 335.0099494},
 {'Year': 1979, 'Mean': 0.17, 'Co2_data_mean_global': 336.6049484},
 {'Year': 1980, 'Mean': 0.27, 'Co2_data_mean_global': 338.7049479},
 {'Year': 1981, 'Mean': 0.33, 'Co2_data_mean_global': 340.0589478},
 {'Year': 1982, 'Mean': 0.13, 'Co2_data_mean_global': 340.6439474},
 {'Year': 1983, 'Mean': 0.3, 'Co2_data_mean_global': 342.2659473},
 {'Year': 1984, 'Mean': 0.15, 'Co2_data_mean_global': 344.0079495},
 {'Year': 1985, 'Mean': 0.12, 'Co2_data_mean_global': 345.4589538},
 {'Year': 1986, 'Mean': 0.19, 'Co2_data_mean_global': 346.9029481},
 {'Year': 1987, 'Mean': 0.33, 'Co2_data_mean_global': 348.7749474},
 {'Year': 1988, 'Mean': 0.41, 'Co2_data_mean_global': 351.2759329},
 {'Year': 1989, 'Mean': 0.29, 'Co2_data_mean_global': 352.8939214},
 {'Year': 1990, 'Mean': 0.44, 'Co2_data_mean_global': 354.0729301},
 {'Year': 1991, 'Mean': 0.43, 'Co2_data_mean_global': 355.3529349},
 {'Year': 1992, 'Mean': 0.23, 'Co2_data_mean_global': 356.2289489},
 {'Year': 1993, 'Mean': 0.24, 'Co2_data_mean_global': 356.9249589},
 {'Year': 1994, 'Mean': 0.32, 'Co2_data_mean_global': 358.2539622},
 {'Year': 1995, 'Mean': 0.46, 'Co2_data_mean_global': 360.2389564},
 {'Year': 1996, 'Mean': 0.35, 'Co2_data_mean_global': 362.0049615},
 {'Year': 1997, 'Mean': 0.48, 'Co2_data_mean_global': 363.2519618},
 {'Year': 1998, 'Mean': 0.64, 'Co2_data_mean_global': 365.932958},
 {'Year': 1999, 'Mean': 0.42, 'Co2_data_mean_global': 367.8449748},
 {'Year': 2000, 'Mean': 0.42, 'Co2_data_mean_global': 369.12498},
 {'Year': 2001, 'Mean': 0.55, 'Co2_data_mean_global': 370.6729901},
 {'Year': 2002, 'Mean': 0.63, 'Co2_data_mean_global': 372.8349943},
 {'Year': 2003, 'Mean': 0.62, 'Co2_data_mean_global': 375.410995},
 {'Year': 2004, 'Mean': 0.55, 'Co2_data_mean_global': 376.9870025},
 {'Year': 2005, 'Mean': 0.69, 'Co2_data_mean_global': 378.907005},
 {'Year': 2006, 'Mean': 0.63, 'Co2_data_mean_global': 381.010007},
 {'Year': 2007, 'Mean': 0.66, 'Co2_data_mean_global': 382.6030247},
 {'Year': 2008, 'Mean': 0.54, 'Co2_data_mean_global': 384.7390186},
 {'Year': 2009, 'Mean': 0.64, 'Co2_data_mean_global': 386.280019},
 {'Year': 2010, 'Mean': 0.71, 'Co2_data_mean_global': 388.7170293},
 {'Year': 2011, 'Mean': 0.6, 'Co2_data_mean_global': 390.9440147},
 {'Year': 2012, 'Mean': 0.63, 'Co2_data_mean_global': 393.0159927},
 {'Year': 2013, 'Mean': 0.65, 'Co2_data_mean_global': 395.7249793},
 {'Year': 2014, 'Mean': 0.74, 'Co2_data_mean_global': 397.5469769},
 {'Year': 2015, 'Mean': 0.87, 'Co2_data_mean_global': 399.8396255},
 {'Year': 2016, 'Mean': 0.99, 'Co2_data_mean_global': 402.1454958},
 {'Year': 2017, 'Mean': 0.99, 'Co2_data_mean_global': 404.464664}]