In [49]:
import pandas as pd
import numpy as np
import json

import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine

from flask import Flask, jsonify, render_template
from flask_sqlalchemy import SQLAlchemy

app = Flask(__name__)

In [50]:
app.config['SQLALCHEMY_DATABASE_URI'] = "sqlite:///interactive_app/db/datasets.db"
db = SQLAlchemy(app)

/anaconda3/envs/data_bootcamp/lib/python3.6/site-packages/flask_sqlalchemy/__init__.py:794: FSADeprecationWarning: SQLALCHEMY_TRACK_MODIFICATIONS adds significant overhead and will be disabled by default in the future.  Set it to True or False to suppress this warning.
  'SQLALCHEMY_TRACK_MODIFICATIONS adds significant overhead and '

In [51]:
Base = automap_base()

In [52]:
Base.prepare(db.engine, reflect=True)

In [53]:
Base.classes.keys()

['Region_Tick_Counts_per_100000',
 'Temp_CO2_dataset',
 'malaria_viz_data',
 'mosquito_life2',
 'prec_temp_usa',
 'us_lyme_final']

In [54]:
Lyme_Data = Base.classes.us_lyme_final

In [55]:
stmt = db.session.query(Lyme_Data).statement

In [56]:
stmt

In [57]:
df = pd.read_sql_query(stmt, db.session.bind)

In [58]:
df

    Year   Incidents
0   2000   69.568697
1   2001   63.984238
2   2002   92.384916
3   2003   69.918682
4   2004   65.612663
5   2005   79.340668
6   2006   82.406434
7   2007  119.216555
8   2008  157.790272
9   2009  170.786109
10  2010  138.535335
11  2011  154.852592
12  2012  146.369596
13  2013  182.099124
14  2014  151.668262
15  2015  164.133798
16  2016  166.254524
17  2017  208.537675

In [59]:
df['Year'] = df['Year'].astype('float')
df['Incidents'] = df['Incidents'].astype('float')

In [60]:
json.dumps(df)

TypeError: Object of type 'DataFrame' is not JSON serializable

In [ ]:
df.to_dict()

In [61]:
data = [{key: float(value[i]) for key, value in df.items()}
            for i in range(18)]
data

[{'Year': 2000.0, 'Incidents': 69.56869701829588},
 {'Year': 2001.0, 'Incidents': 63.98423831055233},
 {'Year': 2002.0, 'Incidents': 92.38491638981108},
 {'Year': 2003.0, 'Incidents': 69.9186818387724},
 {'Year': 2004.0, 'Incidents': 65.61266331522275},
 {'Year': 2005.0, 'Incidents': 79.34066788624247},
 {'Year': 2006.0, 'Incidents': 82.40643393949836},
 {'Year': 2007.0, 'Incidents': 119.21655450058581},
 {'Year': 2008.0, 'Incidents': 157.79027155155117},
 {'Year': 2009.0, 'Incidents': 170.78610862617512},
 {'Year': 2010.0, 'Incidents': 138.535335150427},
 {'Year': 2011.0, 'Incidents': 154.85259195666728},
 {'Year': 2012.0, 'Incidents': 146.36959585239381},
 {'Year': 2013.0, 'Incidents': 182.09912404704045},
 {'Year': 2014.0, 'Incidents': 151.66826247408295},
 {'Year': 2015.0, 'Incidents': 164.13379833187798},
 {'Year': 2016.0, 'Incidents': 166.2545243936242},
 {'Year': 2017.0, 'Incidents': 208.53767468262345}]