In [2]:
import pandas as pd
import numpy as np

import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine

from flask import Flask, jsonify, render_template
from flask_sqlalchemy import SQLAlchemy

app = Flask(__name__)

In [3]:
app.config['SQLALCHEMY_DATABASE_URI'] = "sqlite:///interactive_app/db/malaria.db"
db = SQLAlchemy(app)

/anaconda3/envs/data_bootcamp/lib/python3.6/site-packages/flask_sqlalchemy/__init__.py:794: FSADeprecationWarning: SQLALCHEMY_TRACK_MODIFICATIONS adds significant overhead and will be disabled by default in the future.  Set it to True or False to suppress this warning.
  'SQLALCHEMY_TRACK_MODIFICATIONS adds significant overhead and '

In [4]:
Base = automap_base()

In [5]:
Base.prepare(db.engine, reflect=True)

In [6]:
Malaria_Data = Base.classes.malaria_viz_data

In [7]:
stmt = db.session.query(Malaria_Data).statement

In [8]:
stmt

In [9]:
df = pd.read_sql_query(stmt, db.session.bind)

In [10]:
df

     Primary Key  Year Country         value
0              0  2000     ARG     11.873455
1              1  2001     ARG      5.737693
2              2  2002     ARG      3.299078
3              3  2003     ARG      3.236805
4              4  2004     ARG      2.995195
5              5  2005     ARG      6.437524
6              6  2006     ARG      5.359099
7              7  2007     ARG      8.881611
8              8  2008     ARG      2.624907
9              9  2009     ARG      3.333382
10            10  2010     ARG      1.746560
11            11  2011     ARG      0.864203
12            12  2012     ARG      0.190038
13            13  2013     ARG      0.188059
14            14  2014     ARG      0.186127
15            15  2015     ARG      0.046064
16            16  2016     ARG      0.045613
17            17  2000     BLZ   6008.531630
18            18  2001     BLZ   4557.148684
19            19  2002     BLZ   4324.843825
20            20  2003     BLZ   4027.793260
21            21  2004     BLZ   3861.073784
22            22  2005     BLZ   5468.146020
23            23  2006     BLZ   2902.867441
24            24  2007     BLZ   2831.703010
25            25  2008     BLZ   1763.754838
26            26  2009     BLZ   1630.942028
27            27  2010     BLZ    932.812617
28            28  2011     BLZ    479.963061
29            29  2012     BLZ    219.779567
..           ...   ...     ...           ...
310          310  2004     SUR  16972.226161
311          311  2005     SUR  18300.577618
312          312  2006     SUR   6521.821034
313          313  2007     SUR   5487.487861
314          314  2008     SUR   8158.820378
315          315  2009     SUR   9371.536575
316          316  2010     SUR   6620.376618
317          317  2011     SUR   2945.884885
318          318  2012     SUR   2090.947853
319          319  2013     SUR   2687.359457
320          320  2014     SUR   1463.695960
321          321  2015     SUR   1359.344044
322          322  2016     SUR   1171.270560
323          323  2000     VEN   1214.292190
324          324  2001     VEN    801.892669
325          325  2002     VEN   1160.665441
326          326  2003     VEN   1226.162004
327          327  2004     VEN   1772.119925
328          328  2005     VEN   1681.926867
329          329  2006     VEN   1360.614245
330          330  2007     VEN   1507.621435
331          331  2008     VEN   1138.417326
332          332  2009     VEN   2506.565585
333          333  2010     VEN   3111.130541
334          334  2011     VEN   3110.582589
335          335  2012     VEN   3532.790867
336          336  2013     VEN   5187.901199
337          337  2014     VEN   5901.937962
338          338  2015     VEN   8756.309634
339          339  2016     VEN  15244.021519

[340 rows x 4 columns]

In [11]:
list(df['Country'].unique())

['ARG',
 'BLZ',
 'BOL',
 'BRA',
 'COL',
 'CRI',
 'DOM',
 'ECU',
 'SLV',
 'GTM',
 'GUY',
 'HTI',
 'HND',
 'MEX',
 'NIC',
 'PAN',
 'PRY',
 'PER',
 'SUR',
 'VEN']

In [13]:
list(pd.to_numeric((df['Year'].unique())))

[2000,
 2001,
 2002,
 2003,
 2004,
 2005,
 2006,
 2007,
 2008,
 2009,
 2010,
 2011,
 2012,
 2013,
 2014,
 2015,
 2016]

In [15]:
years = []
for year in df['Year'].unique():
    years.append(int(year))
years

[2000,
 2001,
 2002,
 2003,
 2004,
 2005,
 2006,
 2007,
 2008,
 2009,
 2010,
 2011,
 2012,
 2013,
 2014,
 2015,
 2016]

In [17]:
year = 2000
data_for_year = df[(df['Year'])==year]

In [22]:
data_for_year

     Primary Key  Year Country         value
0              0  2000     ARG     11.873455
17            17  2000     BLZ   6008.531630
34            34  2000     BOL   3773.482189
51            51  2000     BRA   3498.485035
68            68  2000     COL   3574.699291
85            85  2000     CRI    478.672089
102          102  2000     DOM    143.997948
119          119  2000     ECU   8277.087968
136          136  2000     SLV    128.331288
153          153  2000     GTM   4575.759675
170          170  2000     GUY  31883.669343
187          187  2000     HTI   1976.442240
204          204  2000     HND   5383.733354
221          221  2000     MEX     72.650646
238          238  2000     NIC   4750.143033
255          255  2000     PAN    341.875039
272          272  2000     PRY   1292.360496
289          289  2000     PER   2636.361914
306          306  2000     SUR  24050.043396
323          323  2000     VEN   1214.292190

In [20]:
incidence = data_for_year.value.values.tolist()
year = data_for_year.Year.values.tolist()
country = data_for_year.Country.values.tolist()

In [21]:
data = {
    "year": year,
    "country": country,
    "incidence": incidence
}
data

{'year': [2000,
  2000,
  2000,
  2000,
  2000,
  2000,
  2000,
  2000,
  2000,
  2000,
  2000,
  2000,
  2000,
  2000,
  2000,
  2000,
  2000,
  2000,
  2000,
  2000],
 'country': ['ARG',
  'BLZ',
  'BOL',
  'BRA',
  'COL',
  'CRI',
  'DOM',
  'ECU',
  'SLV',
  'GTM',
  'GUY',
  'HTI',
  'HND',
  'MEX',
  'NIC',
  'PAN',
  'PRY',
  'PER',
  'SUR',
  'VEN'],
 'incidence': [11.873455303942647,
  6008.53162970301,
  3773.4821893655167,
  3498.4850353379557,
  3574.6992905992033,
  478.672088729858,
  143.9979482920068,
  8277.087967656897,
  128.33128764512256,
  4575.759674726325,
  31883.66934333022,
  1976.4422402096102,
  5383.733354301155,
  72.6506464486963,
  4750.143033455108,
  341.8750393931784,
  1292.360495596583,
  2636.361913941408,
  24050.043396346242,
  1214.292189670676]}

In [25]:
years = []
incidences = []
for year in data_for_year['Year']:
    years.append(int(year))
for incidence in data_for_year['value']:
    incidences.append(int(incidence))

In [26]:
years

[2000,
 2000,
 2000,
 2000,
 2000,
 2000,
 2000,
 2000,
 2000,
 2000,
 2000,
 2000,
 2000,
 2000,
 2000,
 2000,
 2000,
 2000,
 2000,
 2000]

In [27]:
incidences

[11,
 6008,
 3773,
 3498,
 3574,
 478,
 143,
 8277,
 128,
 4575,
 31883,
 1976,
 5383,
 72,
 4750,
 341,
 1292,
 2636,
 24050,
 1214]