In [1]:
import pandas as pd
import numpy as np

import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine

from flask import Flask, jsonify, render_template
from flask_sqlalchemy import SQLAlchemy

app = Flask(__name__)

In [2]:
app.config['SQLALCHEMY_DATABASE_URI'] = "sqlite:///interactive_app/db/malaria.db"
db = SQLAlchemy(app)

/anaconda3/envs/data_bootcamp/lib/python3.6/site-packages/flask_sqlalchemy/__init__.py:794: FSADeprecationWarning: SQLALCHEMY_TRACK_MODIFICATIONS adds significant overhead and will be disabled by default in the future.  Set it to True or False to suppress this warning.
  'SQLALCHEMY_TRACK_MODIFICATIONS adds significant overhead and '

In [3]:
Base = automap_base()

In [5]:
Base.prepare(db.engine, reflect=True)

/anaconda3/envs/data_bootcamp/lib/python3.6/site-packages/sqlalchemy/ext/declarative/clsregistry.py:128: SAWarning: This declarative base already contains a class with the same class name and module name as sqlalchemy.ext.automap.malaria_viz_data, and will be replaced in the string-lookup table.
  % (item.__module__, item.__name__)

In [6]:
Malaria_Data = Base.classes.malaria_viz_data

In [7]:
stmt = db.session.query(Malaria_Data).statement

In [8]:
stmt

In [9]:
df = pd.read_sql_query(stmt, db.session.bind)

In [10]:
df

     Primary Key  Year Country         value
0              0  2000     ARG     11.873455
1              1  2001     ARG      5.737693
2              2  2002     ARG      3.299078
3              3  2003     ARG      3.236805
4              4  2004     ARG      2.995195
5              5  2005     ARG      6.437524
6              6  2006     ARG      5.359099
7              7  2007     ARG      8.881611
8              8  2008     ARG      2.624907
9              9  2009     ARG      3.333382
10            10  2010     ARG      1.746560
11            11  2011     ARG      0.864203
12            12  2012     ARG      0.190038
13            13  2013     ARG      0.188059
14            14  2014     ARG      0.186127
15            15  2015     ARG      0.046064
16            16  2016     ARG      0.045613
17            17  2000     BLZ   6008.531630
18            18  2001     BLZ   4557.148684
19            19  2002     BLZ   4324.843825
20            20  2003     BLZ   4027.793260
21            21  2004     BLZ   3861.073784
22            22  2005     BLZ   5468.146020
23            23  2006     BLZ   2902.867441
24            24  2007     BLZ   2831.703010
25            25  2008     BLZ   1763.754838
26            26  2009     BLZ   1630.942028
27            27  2010     BLZ    932.812617
28            28  2011     BLZ    479.963061
29            29  2012     BLZ    219.779567
..           ...   ...     ...           ...
310          310  2004     SUR  16972.226161
311          311  2005     SUR  18300.577618
312          312  2006     SUR   6521.821034
313          313  2007     SUR   5487.487861
314          314  2008     SUR   8158.820378
315          315  2009     SUR   9371.536575
316          316  2010     SUR   6620.376618
317          317  2011     SUR   2945.884885
318          318  2012     SUR   2090.947853
319          319  2013     SUR   2687.359457
320          320  2014     SUR   1463.695960
321          321  2015     SUR   1359.344044
322          322  2016     SUR   1171.270560
323          323  2000     VEN   1214.292190
324          324  2001     VEN    801.892669
325          325  2002     VEN   1160.665441
326          326  2003     VEN   1226.162004
327          327  2004     VEN   1772.119925
328          328  2005     VEN   1681.926867
329          329  2006     VEN   1360.614245
330          330  2007     VEN   1507.621435
331          331  2008     VEN   1138.417326
332          332  2009     VEN   2506.565585
333          333  2010     VEN   3111.130541
334          334  2011     VEN   3110.582589
335          335  2012     VEN   3532.790867
336          336  2013     VEN   5187.901199
337          337  2014     VEN   5901.937962
338          338  2015     VEN   8756.309634
339          339  2016     VEN  15244.021519

[340 rows x 4 columns]

In [12]:
list(df['Country'].unique())

['ARG',
 'BLZ',
 'BOL',
 'BRA',
 'COL',
 'CRI',
 'DOM',
 'ECU',
 'SLV',
 'GTM',
 'GUY',
 'HTI',
 'HND',
 'MEX',
 'NIC',
 'PAN',
 'PRY',
 'PER',
 'SUR',
 'VEN']

In [13]:
list(df['Year'].unique())

[2000,
 2001,
 2002,
 2003,
 2004,
 2005,
 2006,
 2007,
 2008,
 2009,
 2010,
 2011,
 2012,
 2013,
 2014,
 2015,
 2016]

In [14]:
year = 2000

In [18]:
for year in df['Year'].unique():
    df_segmented = df[(df['Year'] == year)]

     Primary Key  Year Country         value
0              0  2000     ARG     11.873455
17            17  2000     BLZ   6008.531630
34            34  2000     BOL   3773.482189
51            51  2000     BRA   3498.485035
68            68  2000     COL   3574.699291
85            85  2000     CRI    478.672089
102          102  2000     DOM    143.997948
119          119  2000     ECU   8277.087968
136          136  2000     SLV    128.331288
153          153  2000     GTM   4575.759675
170          170  2000     GUY  31883.669343
187          187  2000     HTI   1976.442240
204          204  2000     HND   5383.733354
221          221  2000     MEX     72.650646
238          238  2000     NIC   4750.143033
255          255  2000     PAN    341.875039
272          272  2000     PRY   1292.360496
289          289  2000     PER   2636.361914
306          306  2000     SUR  24050.043396
323          323  2000     VEN   1214.292190
     Primary Key  Year Country         value
1              1  2001     ARG      5.737693
18            18  2001     BLZ   4557.148684
35            35  2001     BOL   1855.497197
52            52  2001     BRA   2184.537476
69            69  2001     COL   5641.355324
86            86  2001     CRI    341.022989
103          103  2001     DOM    119.349771
120          120  2001     ECU   8473.125023
137          137  2001     SLV     61.293994
154          154  2001     GTM   3004.122618
171          171  2001     GUY  36053.880092
188          188  2001     HTI   1131.656506
205          205  2001     HND   3608.065129
222          222  2001     MEX     48.473291
239          239  2001     NIC   2054.991913
256          256  2001     PAN    300.354340
273          273  2001     PRY    501.237001
290          290  2001     PER   2990.857710
307          307  2001     SUR  33497.299786
324          324  2001     VEN    801.892669
     Primary Key  Year Country         value
2              2  2002     ARG      3.299078
19            19  2002     BLZ   4324.843825
36            36  2002     BOL   1649.766651
53            53  2002     BRA   1933.150298
70            70  2002     COL   4929.124887
87            87  2002     CRI    251.279532
104          104  2002     DOM    146.734395
121          121  2002     ECU   6636.826942
138          138  2002     SLV     19.695965
155          155  2002     GTM   2911.003561
172          172  2002     GUY  29120.183433
189          189  2002     HTI   1113.446213
206          206  2002     HND   2509.486523
223          223  2002     MEX     44.310029
240          240  2002     NIC   1487.895549
257          257  2002     PAN    712.547213
274          274  2002     PRY    504.301357
291          291  2002     PER   3730.508547
308          308  2002     SUR  26575.218821
325          325  2002     VEN   1160.665441
     Primary Key  Year Country         value
3              3  2003     ARG      3.236805
20            20  2003     BLZ   4027.793260
37            37  2003     BOL   2308.970514
54            54  2003     BRA   2240.690403
71            71  2003     COL   4292.924458
88            88  2003     CRI    174.019643
105          105  2003     DOM    170.499657
122          122  2003     ECU   3917.724844
139          139  2003     SLV     14.234196
156          156  2003     GTM   2490.064780
173          173  2003     GUY  36745.019332
190          190  2003     HTI   1095.855068
207          207  2003     HND   2007.870260
224          224  2003     MEX     36.150924
241          241  2003     NIC   1281.655234
258          258  2003     PAN   1402.229982
275          275  2003     PRY    248.219046
292          292  2003     PER   3281.938521
309          309  2003     SUR  22488.798604
326          326  2003     VEN   1226.162004
     Primary Key  Year Country         value
4              4  2004     ARG      2.995195
21            21  2004     BLZ   3861.073784
38            38  2004     BOL   1662.626073
55            55  2004     BRA   2517.093652
72            72  2004     COL   3329.286989
89            89  2004     CRI    307.854861
106          106  2004     DOM    258.705978
123          123  2004     ECU   2126.628475
140          140  2004     SLV     18.664256
157          157  2004     GTM   2262.652942
174          174  2004     GUY  38403.410089
191          191  2004     HTI   1184.536589
208          208  2004     HND   2400.420979
225          225  2004     MEX     31.833090
242          242  2004     NIC   1298.942709
259          259  2004     PAN   1558.322713
276          276  2004     PRY    121.674550
293          293  2004     PER   3431.244613
310          310  2004     SUR  16972.226161
327          327  2004     VEN   1772.119925
     Primary Key  Year Country         value
5              5  2005     ARG      6.437524
22            22  2005     BLZ   5468.146020
39            39  2005     BOL   2349.702901
56            56  2005     BRA   3242.432895
73            73  2005     COL   2809.916103
90            90  2005     CRI    833.599939
107          107  2005     DOM    415.369157
124          124  2005     ECU   1241.333147
141          141  2005     SLV     11.113026
158          158  2005     GTM   3021.603191
175          175  2005     GUY  51913.186834
192          192  2005     HTI   2350.971630
209          209  2005     HND   2170.902823
226          226  2005     MEX     27.352623
243          243  2005     NIC   1234.726717
260          260  2005     PAN   1101.047451
277          277  2005     PRY     64.360346
294          294  2005     PER   3176.301982
311          311  2005     SUR  18300.577618
328          328  2005     VEN   1681.926867
     Primary Key  Year Country         value
6              6  2006     ARG      5.359099
23            23  2006     BLZ   2902.867441
40            40  2006     BOL   2124.775431
57            57  2006     BRA   2907.052474
74            74  2006     COL   2739.683402
91            91  2006     CRI    673.738406
108          108  2006     DOM    376.146928
125          125  2006     ECU    706.140263
142          142  2006     SLV      8.090511
159          159  2006     GTM   2320.891351
176          176  2006     GUY  28100.282684
193          193  2006     HTI   3479.371870
210          210  2006     HND   1581.004921
227          227  2006     MEX     22.835368
244          244  2006     NIC    571.354026
261          261  2006     PAN    490.284958
278          278  2006     PRY    139.899463
295          295  2006     PER   2322.902686
312          312  2006     SUR   6521.821034
329          329  2006     VEN   1360.614245
     Primary Key  Year Country         value
7              7  2007     ARG      8.881611
24            24  2007     BLZ   2831.703010
41            41  2007     BOL   1547.432787
58            58  2007     BRA   2400.984529
75            75  2007     COL   2894.946232
92            92  2007     CRI    279.896711
109          109  2007     DOM    285.237722
126          126  2007     ECU    576.820746
143          143  2007     SLV      6.575189
160          160  2007     GTM   1122.750284
177          177  2007     GUY  15585.617267
194          194  2007     HTI   3120.785436
211          211  2007     HND   1363.912583
228          228  2007     MEX     21.111205
245          245  2007     NIC    245.558488
262          262  2007     PAN    370.895073
279          279  2007     PRY    224.767727
296          296  2007     PER   1795.408600
313          313  2007     SUR   5487.487861
330          330  2007     VEN   1507.621435
     Primary Key  Year Country         value
8              8  2008     ARG      2.624907
25            25  2008     BLZ   1763.754838
42            42  2008     BOL   1015.432004
59            59  2008     BRA   1636.167420
76            76  2008     COL   1794.125387
93            93  2008     CRI    218.082911
110          110  2008     DOM    381.880596
127          127  2008     ECU    338.534626
144          144  2008     SLV      5.400716
161          161  2008     GTM    513.909175
178          178  2008     GUY  15831.138100
195          195  2008     HTI   3789.169512
212          212  2008     HND   1062.919283
229          229  2008     MEX     20.736957
246          246  2008     NIC    136.205055
263          263  2008     PAN    211.587968
280          280  2008     PRY     57.548084
297          297  2008     PER   2910.203834
314          314  2008     SUR   8158.820378
331          331  2008     VEN   1138.417326
     Primary Key  Year Country         value
9              9  2009     ARG      3.333382
26            26  2009     BLZ   1630.942028
43            43  2009     BOL   1996.772537
60            60  2009     BRA   1587.082374
77            77  2009     COL   3494.217182
94            94  2009     CRI    116.748952
111          111  2009     DOM    336.412921
128          128  2009     ECU    280.846965
145          145  2009     SLV      6.517549
162          162  2009     GTM    989.088731
179          179  2009     GUY  18335.963996
196          196  2009     HTI   5027.469154
213          213  2009     HND   2319.097859
230          230  2009     MEX     46.803076
247          247  2009     NIC    107.648686
264          264  2009     PAN    434.711550
281          281  2009     PRY     29.700529
298          298  2009     PER   2746.995182
315          315  2009     SUR   9371.536575
332          332  2009     VEN   2506.565585
     Primary Key  Year Country         value
10            10  2010     ARG      1.746560
27            27  2010     BLZ    932.812617
44            44  2010     BOL   2776.500110
61            61  2010     BRA   3401.156960
78            78  2010     COL   5124.341281
95            95  2010     CRI     50.161926
112          112  2010     DOM    595.676797
129          129  2010     ECU    252.834173
146          146  2010     SLV      7.786360
163          163  2010     GTM    996.690662
180          180  2010     GUY  61442.142318
197          197  2010     HTI   8415.622318
214          214  2010     HND   2370.656045
231          231  2010     MEX     20.959957
248          248  2010     NIC    241.210668
265          265  2010     PAN    229.467213
282          282  2010     PRY      8.695824
299          299  2010     PER   2147.877727
316          316  2010     SUR   6620.376618
333          333  2010     VEN   3111.130541
     Primary Key  Year Country         value
11            11  2011     ARG      0.864203
28            28  2011     BLZ    479.963061
45            45  2011     BOL   1417.494920
62            62  2011     BRA   2689.118256
79            79  2011     COL   2774.279356
96            96  2011     CRI      7.390543
113          113  2011     DOM    322.326656
130          130  2011     ECU    162.347128
147          147  2011     SLV      5.006007
164          164  2011     GTM    912.373664
181          181  2011     GUY  78683.753838
198          198  2011     HTI   6771.772728
215          215  2011     HND   1827.194789
232          232  2011     MEX     18.926859
249          249  2011     NIC    318.536043
266          266  2011     PAN    190.949738
283          283  2011     PRY      3.177739
300          300  2011     PER   1681.586643
317          317  2011     SUR   2945.884885
334          334  2011     VEN   3110.582589
     Primary Key  Year Country         value
12            12  2012     ARG      0.190038
29            29  2012     BLZ    219.779567
46            46  2012     BOL   1448.383065
63            63  2012     BRA   2420.789890
80            80  2012     COL   2567.282706
97            97  2012     CRI      3.437813
114          114  2012     DOM    187.494769
131          131  2012     ECU     72.375109
148          148  2012     SLV      6.751059
165          165  2012     GTM    700.148045
182          182  2012     GUY  83923.456793
199          199  2012     HTI   5416.548015
216          216  2012     HND   1516.874791
233          233  2012     MEX     13.862646
250          250  2012     NIC    420.274734
267          267  2012     PAN    447.396697
284          284  2012     PRY      4.702770
301          301  2012     PER   2089.129979
318          318  2012     SUR   2090.947853
335          335  2012     VEN   3532.790867
     Primary Key  Year Country         value
13            13  2013     ARG      0.188059
30            30  2013     BLZ    151.083296
47            47  2013     BOL   1514.769240
64            64  2013     BRA   1760.364647
81            81  2013     COL   2184.442082
98            98  2013     CRI      2.549719
115          115  2013     DOM    112.631715
132          132  2013     ECU     48.271094
149          149  2013     SLV      2.239722
166          166  2013     GTM    796.860058
183          183  2013     GUY  83049.172846
200          200  2013     HTI   4017.916029
217          217  2013     HND   1253.900391
234          234  2013     MEX      8.144547
251          251  2013     NIC    401.967995
268          268  2013     PAN    367.334625
285          285  2013     PRY      3.402549
302          302  2013     PER   2833.468714
319          319  2013     SUR   2687.359457
336          336  2013     VEN   5187.901199
     Primary Key  Year Country         value
14            14  2014     ARG      0.186127
31            31  2014     BLZ    108.048474
48            48  2014     BOL   1401.418024
65            65  2014     BRA   1404.561968
82            82  2014     COL   1706.062769
99            99  2014     CRI      2.522293
116          116  2014     DOM     95.331047
133          133  2014     ECU     30.434295
150          150  2014     SLV      2.547288
167          167  2014     GTM    666.685130
184          184  2014     GUY  32363.409148
201          201  2014     HTI   3347.563378
218          218  2014     HND    778.956947
235          235  2014     MEX     10.690572
252          252  2014     NIC    386.764410
269          269  2014     PAN    447.747507
286          286  2014     PRY      2.441785
303          303  2014     PER   3681.874427
320          320  2014     SUR   1463.695960
337          337  2014     VEN   5901.937962
     Primary Key  Year Country         value
15            15  2015     ARG      0.046064
32            32  2015     BLZ     72.365345
49            49  2015     BOL   1288.054077
66            66  2015     BRA   1389.629397
83            83  2015     COL   2228.134009
100          100  2015     CRI      3.327889
117          117  2015     DOM    125.565210
134          134  2015     ECU     84.983197
151          151  2015     SLV      2.851495
168          168  2015     GTM    761.609234
185          185  2015     GUY  25982.610597
202          202  2015     HTI   3283.148140
219          219  2015     HND    797.917246
236          236  2015     MEX      8.753608
253          253  2015     NIC    758.627663
270          270  2015     PAN    283.176994
287          287  2015     PRY      2.409958
304          304  2015     PER   4245.765907
321          321  2015     SUR   1359.344044
338          338  2015     VEN   8756.309634
     Primary Key  Year Country         value
16            16  2016     ARG      0.045613
33            33  2016     BLZ     27.251372
50            50  2016     BOL   1020.033097
67            67  2016     BRA   1244.870857
84            84  2016     COL   3008.976615
101          101  2016     CRI      5.352797
118          118  2016     DOM    141.800135
135          135  2016     ECU    173.816795
152          152  2016     SLV      4.413117
169          169  2016     GTM    585.437549
186          186  2016     GUY  30356.794167
203          203  2016     HTI   4003.564378
220          220  2016     HND    925.614299
237          237  2016     MEX      9.346057
254          254  2016     NIC   2043.601161
271          271  2016     PAN    402.070440
288          288  2016     PRY      3.122534
305          305  2016     PER   3564.127080
322          322  2016     SUR   1171.270560
339          339  2016     VEN  15244.021519