In [66]:
import pandas as pd
import numpy as np

import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine

from flask import Flask, jsonify, render_template
from flask_sqlalchemy import SQLAlchemy

app = Flask(__name__)

In [75]:
app.config['SQLALCHEMY_DATABASE_URI'] = "sqlite:///interactive_app/db/datasets.db"
db = SQLAlchemy(app)

/anaconda3/envs/data_bootcamp/lib/python3.6/site-packages/flask_sqlalchemy/__init__.py:794: FSADeprecationWarning: SQLALCHEMY_TRACK_MODIFICATIONS adds significant overhead and will be disabled by default in the future.  Set it to True or False to suppress this warning.
  'SQLALCHEMY_TRACK_MODIFICATIONS adds significant overhead and '

In [76]:
Base = automap_base()

In [77]:
Base.prepare(db.engine, reflect=True)

In [78]:
Base.classes.keys()

['malaria_viz_data', 'mosquito_life2', 'prec_temp_usa']

In [79]:
Mosquito_Data = Base.classes.mosquito_life2

In [80]:
stmt = db.session.query(Mosquito_Data).statement

In [81]:
stmt

In [82]:
df = pd.read_sql_query(stmt, db.session.bind)

In [83]:
df

,Temperature,biting_rate,mosquito_development_rate,infection_probability,fecundity,adult_lifespan,incubation_rate,egg_to_adult_survival,transmission_probability
0,10.000,0.0000,0.0000,0.000,0.0,10.000,0.0000,0.0000,0.000
1,12.500,0.0150,0.0125,0.050,0.5,12.500,0.0050,0.0750,0.000
2,15.000,0.0300,0.0250,0.100,1.0,15.000,0.0100,0.1500,0.000
3,16.250,0.0500,0.0375,0.125,1.5,18.500,0.0150,0.1850,0.125
4,17.500,0.0700,0.0500,0.150,2.0,22.000,0.0200,0.2200,0.250
5,18.750,0.0850,0.0550,0.175,3.0,23.500,0.0350,0.3600,0.325
6,20.000,0.1000,0.0600,0.200,4.0,25.000,0.0500,0.5000,0.400
7,21.250,0.1250,0.0650,0.250,4.5,26.250,0.0600,0.6500,0.450
8,22.500,0.1500,0.0700,0.300,5.0,27.500,0.0700,0.8000,0.500
9,23.750,0.1750,0.0750,0.350,5.5,28.250,0.0800,0.8500,0.600
10,25.000,0.2000,0.0800,0.400,6.0,29.000,0.0900,0.9000,0.700
11,26.250,0.2250,0.0900,0.450,6.5,28.500,0.1000,0.9000,0.750
12,27.500,0.2500,0.1000,0.500,7.0,28.000,0.1100,0.9000,0.800
13,28.750,0.2750,0.1050,0.550,7.5,26.500,0.1200,0.8500,0.775
14,30.000,0.3000,0.1100,0.600,8.0,25.000,0.1300,0.8000,0.750
15,31.250,0.3050,0.1200,0.650,7.0,23.750,0.1400,0.7500,0.675
16,32.500,0.3100,0.1300,0.700,6.0,22.500,0.1500,0.7000,0.600
17,33.750,0.3150,0.1150,0.380,3.0,16.250,0.1550,0.4750,0.500
18,34.375,0.3175,0.1075,0.220,1.5,13.125,0.1575,0.3625,0.450
19,35.000,0.3200,0.1000,0.060,0.0,10.000,0.1600,0.2500,0.400
20,37.500,0.1600,0.0500,0.030,0.0,5.000,0.1500,0.1250,0.200
21,38.750,0.0800,0.0250,0.015,0.0,2.500,0.1450,0.0625,0.100
22,40.000,0.0000,0.0000,0.000,0.0,0.000,0.1400,0.0000,0.000

In [85]:
res = [{key : float(value[i]) for key, value in df.items()} for i in range(23)] 
res

[{'Temperature': 10.0,
  'biting_rate': 0.0,
  'mosquito_development_rate': 0.0,
  'infection_probability': 0.0,
  'fecundity': 0.0,
  'adult_lifespan': 10.0,
  'incubation_rate': 0.0,
  'egg_to_adult_survival': 0.0,
  'transmission_probability': 0.0},
 {'Temperature': 12.5,
  'biting_rate': 0.015,
  'mosquito_development_rate': 0.0125,
  'infection_probability': 0.05,
  'fecundity': 0.5,
  'adult_lifespan': 12.5,
  'incubation_rate': 0.005,
  'egg_to_adult_survival': 0.075,
  'transmission_probability': 0.0},
 {'Temperature': 15.0,
  'biting_rate': 0.03,
  'mosquito_development_rate': 0.025,
  'infection_probability': 0.1,
  'fecundity': 1.0,
  'adult_lifespan': 15.0,
  'incubation_rate': 0.01,
  'egg_to_adult_survival': 0.15,
  'transmission_probability': 0.0},
 {'Temperature': 16.25,
  'biting_rate': 0.05,
  'mosquito_development_rate': 0.0375,
  'infection_probability': 0.125,
  'fecundity': 1.5,
  'adult_lifespan': 18.5,
  'incubation_rate': 0.015,
  'egg_to_adult_survival': 0.185,
  'transmission_probability': 0.125},
 {'Temperature': 17.5,
  'biting_rate': 0.07,
  'mosquito_development_rate': 0.05,
  'infection_probability': 0.15,
  'fecundity': 2.0,
  'adult_lifespan': 22.0,
  'incubation_rate': 0.02,
  'egg_to_adult_survival': 0.22,
  'transmission_probability': 0.25},
 {'Temperature': 18.75,
  'biting_rate': 0.085,
  'mosquito_development_rate': 0.055,
  'infection_probability': 0.175,
  'fecundity': 3.0,
  'adult_lifespan': 23.5,
  'incubation_rate': 0.035,
  'egg_to_adult_survival': 0.36,
  'transmission_probability': 0.325},
 {'Temperature': 20.0,
  'biting_rate': 0.1,
  'mosquito_development_rate': 0.06,
  'infection_probability': 0.2,
  'fecundity': 4.0,
  'adult_lifespan': 25.0,
  'incubation_rate': 0.05,
  'egg_to_adult_survival': 0.5,
  'transmission_probability': 0.4},
 {'Temperature': 21.25,
  'biting_rate': 0.125,
  'mosquito_development_rate': 0.065,
  'infection_probability': 0.25,
  'fecundity': 4.5,
  'adult_lifespan': 26.25,
  'incubation_rate': 0.06,
  'egg_to_adult_survival': 0.65,
  'transmission_probability': 0.45},
 {'Temperature': 22.5,
  'biting_rate': 0.15,
  'mosquito_development_rate': 0.07,
  'infection_probability': 0.3,
  'fecundity': 5.0,
  'adult_lifespan': 27.5,
  'incubation_rate': 0.07,
  'egg_to_adult_survival': 0.8,
  'transmission_probability': 0.5},
 {'Temperature': 23.75,
  'biting_rate': 0.175,
  'mosquito_development_rate': 0.075,
  'infection_probability': 0.35,
  'fecundity': 5.5,
  'adult_lifespan': 28.25,
  'incubation_rate': 0.08,
  'egg_to_adult_survival': 0.85,
  'transmission_probability': 0.6},
 {'Temperature': 25.0,
  'biting_rate': 0.2,
  'mosquito_development_rate': 0.08,
  'infection_probability': 0.4,
  'fecundity': 6.0,
  'adult_lifespan': 29.0,
  'incubation_rate': 0.09,
  'egg_to_adult_survival': 0.9,
  'transmission_probability': 0.7},
 {'Temperature': 26.25,
  'biting_rate': 0.225,
  'mosquito_development_rate': 0.09,
  'infection_probability': 0.45,
  'fecundity': 6.5,
  'adult_lifespan': 28.5,
  'incubation_rate': 0.1,
  'egg_to_adult_survival': 0.9,
  'transmission_probability': 0.75},
 {'Temperature': 27.5,
  'biting_rate': 0.25,
  'mosquito_development_rate': 0.1,
  'infection_probability': 0.5,
  'fecundity': 7.0,
  'adult_lifespan': 28.0,
  'incubation_rate': 0.11,
  'egg_to_adult_survival': 0.9,
  'transmission_probability': 0.8},
 {'Temperature': 28.75,
  'biting_rate': 0.275,
  'mosquito_development_rate': 0.105,
  'infection_probability': 0.55,
  'fecundity': 7.5,
  'adult_lifespan': 26.5,
  'incubation_rate': 0.12,
  'egg_to_adult_survival': 0.85,
  'transmission_probability': 0.775},
 {'Temperature': 30.0,
  'biting_rate': 0.3,
  'mosquito_development_rate': 0.11,
  'infection_probability': 0.6,
  'fecundity': 8.0,
  'adult_lifespan': 25.0,
  'incubation_rate': 0.13,
  'egg_to_adult_survival': 0.8,
  'transmission_probability': 0.75},
 {'Temperature': 31.25,
  'biting_rate': 0.305,
  'mosquito_development_rate': 0.12,
  'infection_probability': 0.65,
  'fecundity': 7.0,
  'adult_lifespan': 23.75,
  'incubation_rate': 0.14,
  'egg_to_adult_survival': 0.75,
  'transmission_probability': 0.675},
 {'Temperature': 32.5,
  'biting_rate': 0.31,
  'mosquito_development_rate': 0.13,
  'infection_probability': 0.7,
  'fecundity': 6.0,
  'adult_lifespan': 22.5,
  'incubation_rate': 0.15,
  'egg_to_adult_survival': 0.7,
  'transmission_probability': 0.6},
 {'Temperature': 33.75,
  'biting_rate': 0.315,
  'mosquito_development_rate': 0.115,
  'infection_probability': 0.38,
  'fecundity': 3.0,
  'adult_lifespan': 16.25,
  'incubation_rate': 0.155,
  'egg_to_adult_survival': 0.475,
  'transmission_probability': 0.5},
 {'Temperature': 34.375,
  'biting_rate': 0.3175,
  'mosquito_development_rate': 0.1075,
  'infection_probability': 0.22,
  'fecundity': 1.5,
  'adult_lifespan': 13.125,
  'incubation_rate': 0.1575,
  'egg_to_adult_survival': 0.3625,
  'transmission_probability': 0.45},
 {'Temperature': 35.0,
  'biting_rate': 0.32,
  'mosquito_development_rate': 0.1,
  'infection_probability': 0.06,
  'fecundity': 0.0,
  'adult_lifespan': 10.0,
  'incubation_rate': 0.16,
  'egg_to_adult_survival': 0.25,
  'transmission_probability': 0.4},
 {'Temperature': 37.5,
  'biting_rate': 0.16,
  'mosquito_development_rate': 0.05,
  'infection_probability': 0.03,
  'fecundity': 0.0,
  'adult_lifespan': 5.0,
  'incubation_rate': 0.15,
  'egg_to_adult_survival': 0.125,
  'transmission_probability': 0.2},
 {'Temperature': 38.75,
  'biting_rate': 0.08,
  'mosquito_development_rate': 0.025,
  'infection_probability': 0.015,
  'fecundity': 0.0,
  'adult_lifespan': 2.5,
  'incubation_rate': 0.145,
  'egg_to_adult_survival': 0.0625,
  'transmission_probability': 0.1},
 {'Temperature': 40.0,
  'biting_rate': 0.0,
  'mosquito_development_rate': 0.0,
  'infection_probability': 0.0,
  'fecundity': 0.0,
  'adult_lifespan': 0.0,
  'incubation_rate': 0.14,
  'egg_to_adult_survival': 0.0,
  'transmission_probability': 0.0}]

In [56]:
data = {
    "Temperature": col1,
    "biting_rate": col2,
    "mosquito_development_rate": col3,
    "infection_probability": col4,
    "fecundity": col5,
    "adult_lifespan": col6,
    "egg_to_adult_survival": col7,
    "transmission_probability": col8
}
data

{'Temperature': [10.0,
  12.0,
  14.0,
  15.0,
  17.0,
  18.0,
  19.0,
  20.0,
  22.0,
  23.0,
  24.0,
  25.0,
  27.0,
  28.0,
  29.0,
  30.0,
  32.0,
  33.0,
  34.0,
  35.0,
  37.0,
  38.0,
  39.0,
  40.0],
 'biting_rate': [0.0,
  0.023,
  0.027,
  0.03,
  0.066,
  0.07,
  0.095,
  0.1,
  0.143,
  0.15,
  0.192,
  0.2,
  0.241,
  0.25,
  0.29,
  0.3,
  0.291,
  0.31,
  0.311,
  0.32,
  0.263,
  0.221,
  0.184,
  0.0],
 'mosquito_development_rate': [0.0,
  0.019,
  0.023,
  0.025,
  0.047,
  0.05,
  0.057,
  0.06,
  0.067,
  0.07,
  0.077,
  0.08,
  0.096,
  0.1,
  0.106,
  0.11,
  0.107,
  0.13,
  0.126,
  0.1,
  0.082,
  0.069,
  0.058,
  0.0],
 'infection_probability': [0.0,
  0.077,
  0.09,
  0.1,
  0.141,
  0.15,
  0.19,
  0.2,
  0.287,
  0.3,
  0.384,
  0.4,
  0.482,
  0.5,
  0.58,
  0.6,
  0.582,
  0.7,
  0.058,
  0.06,
  0.049,
  0.041,
  0.035,
  0.0],
 'fecundity': [0.0,
  0.767,
  0.9,
  1.0,
  1.886,
  2.0,
  3.8,
  4.0,
  4.778,
  5.0,
  5.76,
  6.0,
  6.745,
  7.0,
  7.733,
  8.0,
  7.754,
  6.0,
  4.0,
  1.0,
  0.822,
  0.69,
  0.575,
  0.0],
 'adult_lifespan': [10.0,
  11.5,
  13.5,
  15.0,
  20.743,
  22.0,
  23.75,
  25.0,
  26.278,
  27.5,
  27.84,
  29.0,
  26.982,
  28.0,
  24.167,
  25.0,
  24.231,
  22.5,
  21.857,
  10.0,
  8.219,
  6.904,
  5.753,
  0.0],
 'egg_to_adult_survival': [0.0,
  0.115,
  0.135,
  0.15,
  0.207,
  0.22,
  0.475,
  0.5,
  0.764,
  0.8,
  0.864,
  0.9,
  0.867,
  0.9,
  0.773,
  0.8,
  0.775,
  0.7,
  0.243,
  0.25,
  0.205,
  0.173,
  0.144,
  0.0],
 'transmission_probability': [0.0,
  0.0,
  0.0,
  0.0,
  0.236,
  0.25,
  0.38,
  0.4,
  0.478,
  0.5,
  0.672,
  0.7,
  0.771,
  0.8,
  0.725,
  0.75,
  0.727,
  0.6,
  0.389,
  0.4,
  0.329,
  0.276,
  0.23,
  0.0]}

In [13]:
list(pd.to_numeric((df['Year'].unique())))

[2000,
 2001,
 2002,
 2003,
 2004,
 2005,
 2006,
 2007,
 2008,
 2009,
 2010,
 2011,
 2012,
 2013,
 2014,
 2015,
 2016]

In [15]:
years = []
for year in df['Year'].unique():
    years.append(int(year))
years

[2000,
 2001,
 2002,
 2003,
 2004,
 2005,
 2006,
 2007,
 2008,
 2009,
 2010,
 2011,
 2012,
 2013,
 2014,
 2015,
 2016]

In [17]:
year = 2000
data_for_year = df[(df['Year'])==year]

In [22]:
data_for_year

     Primary Key  Year Country         value
0              0  2000     ARG     11.873455
17            17  2000     BLZ   6008.531630
34            34  2000     BOL   3773.482189
51            51  2000     BRA   3498.485035
68            68  2000     COL   3574.699291
85            85  2000     CRI    478.672089
102          102  2000     DOM    143.997948
119          119  2000     ECU   8277.087968
136          136  2000     SLV    128.331288
153          153  2000     GTM   4575.759675
170          170  2000     GUY  31883.669343
187          187  2000     HTI   1976.442240
204          204  2000     HND   5383.733354
221          221  2000     MEX     72.650646
238          238  2000     NIC   4750.143033
255          255  2000     PAN    341.875039
272          272  2000     PRY   1292.360496
289          289  2000     PER   2636.361914
306          306  2000     SUR  24050.043396
323          323  2000     VEN   1214.292190

In [20]:
incidence = data_for_year.value.values.tolist()
year = data_for_year.Year.values.tolist()
country = data_for_year.Country.values.tolist()

In [21]:
data = {
    "year": year,
    "country": country,
    "incidence": incidence
}
data

{'year': [2000,
  2000,
  2000,
  2000,
  2000,
  2000,
  2000,
  2000,
  2000,
  2000,
  2000,
  2000,
  2000,
  2000,
  2000,
  2000,
  2000,
  2000,
  2000,
  2000],
 'country': ['ARG',
  'BLZ',
  'BOL',
  'BRA',
  'COL',
  'CRI',
  'DOM',
  'ECU',
  'SLV',
  'GTM',
  'GUY',
  'HTI',
  'HND',
  'MEX',
  'NIC',
  'PAN',
  'PRY',
  'PER',
  'SUR',
  'VEN'],
 'incidence': [11.873455303942647,
  6008.53162970301,
  3773.4821893655167,
  3498.4850353379557,
  3574.6992905992033,
  478.672088729858,
  143.9979482920068,
  8277.087967656897,
  128.33128764512256,
  4575.759674726325,
  31883.66934333022,
  1976.4422402096102,
  5383.733354301155,
  72.6506464486963,
  4750.143033455108,
  341.8750393931784,
  1292.360495596583,
  2636.361913941408,
  24050.043396346242,
  1214.292189670676]}

In [25]:
years = []
incidences = []
for year in data_for_year['Year']:
    years.append(int(year))
for incidence in data_for_year['value']:
    incidences.append(int(incidence))

In [26]:
years

[2000,
 2000,
 2000,
 2000,
 2000,
 2000,
 2000,
 2000,
 2000,
 2000,
 2000,
 2000,
 2000,
 2000,
 2000,
 2000,
 2000,
 2000,
 2000,
 2000]

In [27]:
incidences

[11,
 6008,
 3773,
 3498,
 3574,
 478,
 143,
 8277,
 128,
 4575,
 31883,
 1976,
 5383,
 72,
 4750,
 341,
 1292,
 2636,
 24050,
 1214]